{% assign id = 'discount-pack-' | append: product.id %}
{% assign selected = '' %}
{% for item in cart.items %}
  {% for option in item.options_with_values %}
    {% assign selected = option.value %}
    {% if selected == 'Small' %}
      {% assign selected = 'S' %}
    {% elsif selected == 'Medium' %}
      {% assign selected = 'M' %}
    {% elsif selected == 'Large' %}
      {% assign selected = 'L' %}
    {% endif %}
  {% endfor %}
{% endfor %}
<form
  id='{{ id }}'
  class='discount-pack-list-item__form-free'
  {% if threshold != blank %}
    data-threshold='{{ threshold | times: 100 }}'
  {% endif %}
  data-delegate='discountfreeform'
  data-product-id='{{ product.id }}'
  data-product-handle='{{ product.handle }}'
>
  <div class='discount-pack-list-item__title-wrapper'>
    <div class='headline'>
        {{ product.title | truncate: 22 }}
    </div>
  </div>
  <div class='discount-pack-list-item__price'>
    {% if product.compare_at_price > product.price %}
      {% render 'product-price',
        price: 0,
        compare_at_price: product.compare_at_price,
        product_id: product.id
      %}
    {% else %}
      {% render 'product-price',
        price: 0,
        compare_at_price: product.price,
        product_id: product.id
      %}
    {% endif %}
  </div>
  {% unless product.has_only_default_variant %}
    <div class='discount-pack-list-item__options-free'>
      {% for product_option in product.options_with_values %}
        <select
          id='discount-pack-option-{{ product.id }}'
          name='Option-{{ product_option.name }}'
          style='width: 100%; margin-bottom: 5px;'
        >
          {% for value in product_option.values %}
            {%- if product.variants[forloop.index0].available -%}
              <option value='{{ value }}' {% if value == selected %}selected{% endif %}>
                {{ value }}
              </option>
            {%- endif -%}
          {% endfor %}
          {% comment %} endcomment {% endcomment %}
        </select>
        {% render 'icon-chevron-down' %}
        <label
          class='visually-hidden'
          for='discount-pack-option-{{ product.id }}'
        >
          {{ product_option.name }}
        </label>
      {% endfor %}
    </div>
  {% endunless %}
</form>
