<style>
.product-main-form__prices.endrock-testing-variant {
  display: none;
}
@media (min-width: 768px) {
  .product-main-form .product-main-form__prices {
    padding: 0.25rem 0;
  }
}
</style>

{% assign threePackProduct = all_products['the-color-pack'] %}
{% assign sixPackProduct = all_products['staple-pack'] %}
{% assign ninePackProduct = all_products['essential-crew-t-shirt-9-pack'] %}

{% assign pack_size = product.metafields.custom.pack_size %}

{% assign collectionProducts = collections['pdp-packs-crews-3'].products %}

{% if pack_size == '6-Pack' %}
  {% assign collectionProducts = collections['pdp-packs-crews-6'].products %}
{% endif %}
{% if pack_size == '9-Pack' %}
  {% assign collectionProducts = collections['pdp-packs-crews-9'].products %}
{% endif %}
<div class='er-goli-style__wrapper' variant='A' style='margin-top: 0.75rem;'>
  <legend style="opacity: 0; position: absolute;">
    Pack Size:
    <span class='size-legend'>{{ pack_size }}</span>
  </legend>
  <div class='er-goli-style__selectors'>
    <input
      class='visually-hidden'
      type='radio'
      id='goli-3-pack'
      name='goli-pack-selector'
      data-href='{{ threePackProduct.handle }}'
      aria-labelledby='3-pack'
      autocomplete="off"
      {% if pack_size == '3-Pack' %}checked{% endif %}
    />
    <label for='goli-3-pack'>
      <span class='variant-B'>3</span>
      <span class='variant-A'>3-pack</span>
      <small class='variant-A igInstallmentPrice' data-product-id="{{ threePackProduct.id }}" data-variant-id="{{ threePackProduct.selected_or_first_available_variant.id }}" data-payment-count="3">{{ threePackProduct.price | divided_by: 3 | money }}/item</small>
    </label>

    <input
      class='visually-hidden'
      type='radio'
      id='goli-6-pack'
      name='goli-pack-selector'
      data-href='{{ sixPackProduct.handle }}'
      aria-labelledby='6-pack'
      autocomplete="off"
      {% if pack_size == '6-Pack' %}checked{% endif %}
    />
    <label for='goli-6-pack'>
      <span class='variant-B'>6</span>
      <span class='variant-A'>6-pack</span>
      <small class='variant-A igInstallmentPrice' data-product-id="{{ sixPackProduct.id }}" data-variant-id="{{ sixPackProduct.selected_or_first_available_variant.id }}" data-payment-count="6">{{ sixPackProduct.price | divided_by: 6 | money }}/item</small>

    </label>

    <input
      class='visually-hidden'
      type='radio'
      id='goli-9-pack'
      name='goli-pack-selector'
      data-href='{{ ninePackProduct.handle }}'
      aria-labelledby='9-pack'
      autocomplete="off"
      {% if pack_size == '9-Pack' %}checked{% endif %}
    />
    <label for='goli-9-pack'>
      <span class='variant-B'>9</span>
      <span class='variant-A'>9-pack</span>
      <small class='variant-A igInstallmentPrice' data-product-id="{{ ninePackProduct.id }}" data-variant-id="{{ ninePackProduct.selected_or_first_available_variant.id }}" data-payment-count="9">{{ ninePackProduct.price | divided_by: 9 | money }}/item</small>
      <div class='badge variant-A'>Popular</div>
    </label>
  </div>

  <legend class='mg-b-m'>
    Pack Color(s):
    <span class='size-legend'>
      {% for color in product.metafields.ColorwaysV2.color.value %}
        {{ color }}{% unless forloop.last %},{% endunless %}
      {% endfor %}
    </span>
  </legend>

  <div class='product-icons__scroll'>
    <div class='product-icons__wrapper'>
      {% for collectionProduct in collectionProducts %}
        <input
          class='visually-hidden'
          type='radio'
          id='{{ collectionProduct.id }}'
          name='goli-product-selector'
          data-href='{{ collectionProduct.handle }}'
          aria-labelledby='{{ collectionProduct.title }}'
          autocomplete="off"
          {% if product.id == collectionProduct.id %}checked{% endif %}
        />
        <label
          for="{{ collectionProduct.id }}"
          class='image-container'
        >
          {% if collectionProduct.media %}
            <img src='{{ collectionProduct.media[0] | image_url: width: '120' }}'
              alt='{{ collectionProduct.title }}'
              loading='lazy'
              width='80'
              height='80'/>
          {% else %}
            <img src='{{ collectionProduct.images[0].src }}'
              alt='{{ collectionProduct.title }}'
              loading='lazy'
              width='80'
              height='80'/>
          {% endif %}
        </label>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  function erGoli() {
    const goliWrapper = document.querySelector('.er-goli-style__wrapper');
    if (!goliWrapper) return;

    const selectors = goliWrapper.querySelectorAll('input[name="goli-pack-selector"]');
    if (!selectors) return;
    selectors.forEach((input) => {
      input.addEventListener('change', () => {
        goliWrapper.style.pointerEvents = 'none';
        const selectedLabel = document.querySelector('input[name="goli-pack-selector"]:checked + label');
        if (!selectedLabel) return;
        selectedLabel.classList.add('loading');
        const url = input.getAttribute('data-href');
        erChangePage(url);
      });
    });

    const products = goliWrapper.querySelectorAll('input[name="goli-product-selector"]');
    if (!products) return;
    products.forEach((input) => {
      input.addEventListener('change', () => {
        goliWrapper.style.pointerEvents = 'none';
        const selectedLabel = document.querySelector('input[name="goli-product-selector"]:checked + label');
        if (!selectedLabel) return;
        selectedLabel.classList.add('loading');
        const url = input.getAttribute('data-href');
        erChangePage(url);
      });
    });

    // Scroll into view the selected option
    document.addEventListener('DOMContentLoaded', () => {
      const selectedLabel = document.querySelector('input[name="goli-product-selector"]:checked + label');
      if (!selectedLabel) return;
      selectedLabel.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'nearest' });
    });
  }
  erGoli();

  function erChangePage(url) {
    window.location.href = `/products/${url}`;
  }
</script>
