<section class='container content-wrapper'>
  <div class='customer account'>
    <div>
      <h1 class='headline h2'>{{ 'customer.account.title' | t }}</h1>
      <a href='{{ routes.account_logout_url }}'>
        {% render 'icon-user' %}
        {{ 'customer.account.log_out' | t }}
      </a>
      <!-- Start Retextion Customer Login -->
      {% render 'rtxn_customer_login_btn', customer: customer %}
      <!-- End Retextion Customer Login -->
      {% comment %} INVETERATE - US ONLY {% endcomment %}
      {% if localization.country.iso_code == 'US'
        and customer.tags contains 'inveterate-subscriber'
      %}
        <style type='text/css'>
          .inveterate-manage-membership {
            color: var(--brand-black);
            opacity: 1;
            visibility: visible;
            display: inline-flex;
            align-items: center;
            vertical-align: top;
          }
          .customer h1 + a + span {
            vertical-align: top;
          }
        </style>
        <span> | </span>
        <a
          class='inveterate-manage-membership'
          data-inveterate-manage-membership
          href='/community/membership?customerId={{ customer.id }}'
        >
          Manage Membership
        </a>
      {% endif %}
      {% comment %} END INVETERATE - US ONLY {% endcomment %}
    </div>

    <div class='flex xcol xcenter'>
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role='table' class='order-history'>
            <caption class='visually-hidden'>
              {{ 'customer.orders.title' | t }}
            </caption>
            <thead role='rowgroup'>
              <tr role='row'>
                <th id='ColumnOrder' scope='col' role='columnheader'>
                  {{ 'customer.orders.order_number' | t }}
                </th>
                <th id='ColumnDate' scope='col' role='columnheader'>
                  {{ 'customer.orders.date' | t }}
                </th>
                <th id='ColumnPayment' scope='col' role='columnheader'>
                  {{ 'customer.orders.payment_status' | t }}
                </th>
                <th id='ColumnFulfillment' scope='col' role='columnheader'>
                  {{ 'customer.orders.fulfillment_status' | t }}
                </th>
                <th id='ColumnTotal' scope='col' role='columnheader'>
                  {{ 'customer.orders.total' | t }}
                </th>
              </tr>
            </thead>
            <tbody role='rowgroup'>
              {%- for order in customer.orders -%}
                <tr role='row'>
                  <td
                    id='RowOrder'
                    role='cell'
                    headers='ColumnOrder'
                    data-label='{{ 'customer.orders.order_number' | t }}'
                  >
                    <a href='{{ order.customer_url }}' aria-label='Order number {{ order.name }}'>
                      {{ order.name }}
                    </a>
                  </td>
                  <td
                    headers='RowOrder ColumnDate'
                    role='cell'
                    data-label='{{ 'customer.orders.date' | t }}'
                  >
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td
                    headers='RowOrder ColumnPayment'
                    role='cell'
                    data-label='{{ 'customer.orders.payment_status' | t }}'
                  >
                    {{ order.financial_status_label }}
                  </td>
                  <td
                    headers='RowOrder ColumnFulfillment'
                    role='cell'
                    data-label='{{ 'customer.orders.fulfillment_status' | t }}'
                  >
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td
                    headers='RowOrder ColumnTotal'
                    role='cell'
                    data-label='{{ 'customer.orders.total' | t }}'
                  >
                    {{ order.total_price | money_without_currency }}
                    {{ order.currency }}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {% if paginate.pages > 1 %}
          {% render 'pagination' %}
        {% endif %}
      {% endpaginate %}

      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <!-- Start Retextion Customer Login -->
      {% render 'rtxn_customer_login_btn', customer: customer %}
      <!-- End Retextion Customer Login -->
      

      <a href='{{ routes.account_addresses_url }}' class='text-button underline'>
        {{- 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a
      >
    </div>
  </div>
</section>
