{%- liquid
  assign country_codes = section.settings.country_code | split: ','
  assign exclude_country_codes = section.settings.exclude_country_code | split: ','
  assign should_show_banner = false

  if section.settings.country_code == '' and section.settings.exclude_country_code == ''
    assign should_show_banner = true
  else
    assign is_excluded = false
    for exclude_code in exclude_country_codes
      if localization.country.iso_code == exclude_code
        assign is_excluded = true
        break
      endif
    endfor

    unless is_excluded
      if section.settings.country_code == ''
        assign should_show_banner = true
      else
        for code in country_codes
          if localization.country.iso_code == code
            assign should_show_banner = true
            break
          endif
        endfor
      endif
    endunless
  endif
-%}
{%- if should_show_banner -%}
  {% # theme-check-disable ConvertIncludeToRender %}
  {% # theme-check-disable UndefinedObject %}
  {%- liquid
    if section.settings.enable_featured_promo_1
      include 'promo-1'
    endif
    if section.settings.enable_featured_promo_2
      include 'promo-2'
    endif
    if section.settings.enable_featured_image
      include 'collection-image'
    endif
    if section.settings.enable_featured_image_2
      include 'collection-image-2'
    endif
  -%}

  {% assign paginateAmount = 60 %}
  {% paginate collection.products | where: 'available' by paginateAmount %}
    <div id='filtered-collection-content-maxwidth' class='container content-wrapper'>
      {% render 'product-filtered-grid',
        section: section,
        heading: section.settings.heading,
        clearance_text: section.settings.clearance_text,
        clearance_link: section.settings.clearance_link,
        product_array: collection.products,
        product_count: paginate.items,
        page_count: paginate.pages,
        promo_block_1: promo_section_1,
        promo_block_2: promo_section_2,
        image_block: image_section,
        image_block_2: image_section_2,
        promo_position_1: section.settings.promo_position_1,
        promo_position_2: section.settings.promo_position_2,
        image_position: section.settings.image_position,
        image_position_2: section.settings.image_position_2
      %}
    </div>
  {% endpaginate %}

  {% # theme-check-enable ConvertIncludeToRender %}
  {% # theme-check-enable UndefinedObject %}

  <noscript>
    <div id='unfiltered-collection' class='container content-wrapper'>
      <div class='product-card-grid-wrapper'>
        {% for product in collection.products offset: 8 %}
          {% render 'product-card', product: product, noscript: true %}
        {% endfor %}
      </div>
    </div>
  </noscript>

{%- endif -%}
<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({ ecommerce: null });
    window.dataLayer.push({
      'event': 'view_item_list',
      'ecommerce': {
        'item_list_id': '{{ collection.id }}',
        'item_list_name': '{{ collection.title }}',
        'currency': '{{ localization.country.currency.iso_code }}',
        'items': [
          {% for product in collection.products %}
          {
              'item_id': '{{ product.id }}',
              'item_name': '{{ product.title }}',
              'item_brand': '{{ product.vendor }}',
              'item_category': '{{ product.type }}',
              'item_variant': '{{ product.selected_or_first_available_variant.sku }}',
              'item_variant_title' : '{{ product.selected_or_first_available_variant.title }}',
              'price': {{ product.price | money_without_currency }},
              'currency': '{{ localization.country.currency.iso_code }}'
          },
          {% endfor %}
        ]
      }
  });
</script>

{% schema %}
{
  "name": "Collection Grid",
  "settings": [
    {
      "type": "header",
      "content": "Geolocation"
    },
    {
      "type": "text",
      "id": "country_code",
      "label": "Country code",
      "info": "Enter the country code for the country you want to show the banner to. You can have multiple country codes, just separate them with a comma. Example: US,CA,GB. Leave empty to show to all countries."
    },
    {
      "type": "text",
      "id": "exclude_country_code",
      "label": "Exclude country code",
      "info": "Enter the country code for the countries you DON'T want to show the banner to. You can have multiple country codes, just separate them with a comma. Example: US,CA,GB"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "clearance_text",
      "label": "Clearance Link Text"
    },
    {
      "type": "url",
      "id": "clearance_link",
      "label": "Clearance Link URL"
    },
    {
      "type": "header",
      "content": "Featured Promo 1"
    },
    {
      "type": "checkbox",
      "id": "enable_featured_promo_1",
      "label": "Enable Featured Promo 1",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_wide_promo_1",
      "label": "Enable Wide Promo Desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_wider_promo_1",
      "label": "Enable Wider Promo Desktop",
      "default": false
    },
    {
      "type": "text",
      "id": "promo_button_text_1",
      "label": "Promo Button Text",
      "default": "Take the Quiz"
    },
    {
      "type": "checkbox",
      "id": "hide_promo_1",
      "label": "Hide for test",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "promo_image_1",
      "label": "Featured Image Desktop"
    },
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "video",
      "id": "promo_video_1",
      "label": "Video"
    },
    {
      "type": "range",
      "id": "aspect_ratio_1",
      "min": 50,
      "max": 200,
      "step": 2,
      "unit": "%",
      "label": "Aspect Ratio",
      "default": 160
    },
    {
      "type": "range",
      "id": "promo_position_1",
      "min": 2,
      "max": 16,
      "step": 1,
      "unit": "po",
      "label": "Promo position",
      "default": 8
    },
    {
      "type": "text",
      "id": "promo_preheading_1",
      "label": "Pre-Heading"
    },
    {
      "type": "checkbox",
      "id": "circle_preheading_1",
      "label": "Circle Pre-Heading",
      "default": false
    },
    {
      "type": "text",
      "id": "promo_heading_1",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "underline_heading_1",
      "label": "Underline Heading",
      "default": false
    },
    {
      "type": "text",
      "id": "promo_paragraph_1",
      "label": "Paragraph"
    },
    {
      "type": "url",
      "id": "promo_link_1",
      "label": "Link"
    },
    {
      "type": "range",
      "id": "overlay_opacity_1",
      "min": 0,
      "max": 1,
      "step": 0.5,
      "unit": "op",
      "label": "Overlay opacity",
      "default": 0
    },
    {
      "type": "select",
      "id": "promo_alignment_1",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Promo content alignment"
    },
    {
      "type": "header",
      "content": "Featured Promo 2"
    },
    {
      "type": "checkbox",
      "id": "enable_featured_promo_2",
      "label": "Enable Featured Promo 2",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_wide_promo_2",
      "label": "Enable Wide Promo Desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_wider_promo_2",
      "label": "Enable Wider Promo Desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_promo_2",
      "label": "Hide for test",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "promo_image_2",
      "label": "Featured Image Desktop"
    },
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "video",
      "id": "promo_video_2",
      "label": "Video"
    },
    {
      "type": "range",
      "id": "aspect_ratio_2",
      "min": 50,
      "max": 200,
      "step": 2,
      "unit": "%",
      "label": "Aspect Ratio",
      "default": 54
    },
    {
      "type": "range",
      "id": "promo_position_2",
      "min": 2,
      "max": 16,
      "step": 1,
      "unit": "po",
      "label": "Promo position",
      "default": 8
    },
    {
      "type": "text",
      "id": "promo_preheading_2",
      "label": "Pre-Heading"
    },
    {
      "type": "checkbox",
      "id": "circle_preheading_2",
      "label": "Circle Pre-Heading",
      "default": false
    },
    {
      "type": "text",
      "id": "promo_heading_2",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "underline_heading_2",
      "label": "Underline Heading",
      "default": false
    },
    {
      "type": "text",
      "id": "promo_paragraph_2",
      "label": "Paragraph"
    },
    {
      "type": "url",
      "id": "promo_link_2",
      "label": "Link"
    },
    {
      "type": "range",
      "id": "overlay_opacity_2",
      "min": 0,
      "max": 1,
      "step": 0.5,
      "unit": "op",
      "label": "Overlay opacity",
      "default": 0
    },
    {
      "type": "select",
      "id": "promo_alignment_2",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Promo content alignment"
    },
    {
      "type": "select",
      "id": "promo_style_2",
      "options": [
        {
          "value": "style-1",
          "label": "Style 1"
        },
        {
          "value": "style-2",
          "label": "Style 2"
        },
        {
          "value": "style-3",
          "label": "Style 3"
        }
      ],
      "default": "style-1",
      "label": "Promo content style",
      "info": "Coming soon."
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "checkbox",
      "id": "enable_featured_image",
      "label": "Enable Featured Image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "section_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "section_image_mobile",
      "label": "Image mobile"
    },
    {
      "type": "range",
      "id": "image_position",
      "min": 2,
      "max": 20,
      "step": 1,
      "unit": "po",
      "label": "Image position",
      "default": 8
    },
    {
      "type": "header",
      "content": "Image 2"
    },
    {
      "type": "checkbox",
      "id": "enable_featured_image_2",
      "label": "Enable Featured Image 2",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "section_image_2",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "section_image_mobile_2",
      "label": "Image mobile"
    },
    {
      "type": "range",
      "id": "image_position_2",
      "min": 2,
      "max": 20,
      "step": 1,
      "unit": "po",
      "label": "Image position 2",
      "default": 12
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "container_bg_color",
      "label": "Container Background Color"
    },
    {
      "type": "header",
      "content": "Membership Product"
    },
    {
      "type": "text",
      "id": "membership_heading",
      "label": "Membership Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "image_picker",
      "id": "membership_image",
      "label": "Membership Image"
    },
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer Text"
    },
    {
      "type": "text",
      "id": "footer_price_text",
      "label": "Footer Price Text"
    },
    {
      "type": "product",
      "id": "membership_product",
      "label": "Membership Product"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Join Button Label"
    },
    {
      "type": "url",
      "id": "read_more_link",
      "label": "Read More Button Link"
    },
    {
      "type": "text",
      "id": "read_more_label",
      "label": "Read More Button Label"
    }
  ]
}
{% endschema %}
{% comment %} theme-check-enable ConvertIncludeToRender {% endcomment %}
