{% assign sc_id = '#shopify-section-' | append: section.id %}
{%- style -%}
    {{ sc_id }} {
      background-color: {{ section.settings.bg_color }};
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 769px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

    @media screen and (min-width: 990px) {
      {{ sc_id }} .multicolumn-list__item.grid__item.text-center  {
        {% if section.settings.enable_borders == true %}
          border-right: 1px solid #212121;
        {% endif %}
        {% if section.settings.enable_borders_around == true %}
          border: 2px solid #212121;
          padding: 1rem;
          padding-bottom: 0;
          border-radius: 1.2rem;
        {% endif %}
      }

      {{ sc_id }} .multicolumn-list__item.grid__item.text-center:last-child  {
        {% unless section.settings.enable_borders_around == true %}
          border-right: 0;
        {% endunless %}
      }
    }

    @media screen and (max-width: 989px) {

      {{ sc_id }} .multicolumn-list__item.grid__item.text-center  {
        {% if section.settings.enable_borders == true %}
        border-bottom: 1px solid #212121;
        {% endif %}
        {% if section.settings.enable_borders_around == true %}
          border: 2px solid #212121;
          padding: 1rem;
          padding-bottom: 0;
          border-radius: 1.2rem;
        {% endif %}
        padding-bottom: 0;
      }

      {{ sc_id }} .multicolumn-list__item.grid__item.text-center:last-child  {
        {% unless section.settings.enable_borders_around == true %}
          border-bottom: 0;
        {% endunless %}
      }
    }

      {{ sc_id }} .multicolumn-card-spacing {
        margin-left: 0;
        margin-right: 0;
      }

      @media screen and (max-width: 768px) {

        {{ sc_id }} .multicolumn-card.content-container {
          overflow: hidden;
        }

        {{ sc_id }} .multicolumn-card-spacing {
          overflow: hidden;
          position: relative;
        }

        {{ sc_id }} .multicolumn-card-spacing > .media.media--adapt {
          padding-bottom: 0;
          aspect-ratio: 4.5/5;
        }

        {{ sc_id }} .multicolumn-card-spacing > .media.media--adapt > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 3/5;
        }
        {{ sc_id }} .multicolumn-list {
          margin: 0;
          width: 100%;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }

    {% if section.settings.swipe_mobile == true %}

      @media screen and (max-width: 768px) {
        {{ sc_id }} .multicolumn-list  {
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          overflow-x: scroll;
          overflow-y: hidden;
          -webkit-overflow-scrolling: touch;
          scroll-snap-type: x mandatory;
          scroll-behavior: smooth;
          -ms-overflow-style: none;
          scrollbar-width: none;
          flex-wrap: nowrap;
        }

        {{ sc_id }} .content-wrapper {
          padding-left: 0!important;
          padding-right: 0!important;
        }
        {{ sc_id }} .multicolumn-card.content-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        
        {{ sc_id }} .multicolumn-list__item {
          width: calc(100% - 4vw);
        }
      }

    {% endif %}

      @media screen and (max-width: 989px) {
        {{ sc_id }} .multicolumn-list  {
          display: flex;
          justify-content: flex-start!important;
          flex-direction: row;
          overflow-x: scroll;
          overflow-y: hidden;
          -webkit-overflow-scrolling: touch;
          scroll-snap-type: x mandatory;
          scroll-behavior: smooth;
          -ms-overflow-style: none;
          scrollbar-width: none;
          flex-wrap: nowrap;
        }
      }

    {{ sc_id }} .multicolumn-card__image-wrapper > .media > img + * {
      position: absolute;
      top: unset;
      right: unset;
      bottom: 1rem;
      left: 1rem;
      height: fit-content;
      width: fit-content;
      text-align: left;
    }

    {{ sc_id }} .grid--2-col-tablet-down.grid--5-col-desktop .grid__item {
      max-width: 320px;
    }

    {{ sc_id }} .grid--2-col-tablet-down.grid--3-col-desktop .grid__item {
      max-width: 600px;
      width: 33%;
    }
  /* scrollbar */

  .grid.multicolumn-list::-webkit-scrollbar {
    width: 0!important;
    height: 0!important;
  }

  .grid.multicolumn-list::-webkit-scrollbar-track {
    background: transparent;
    height: 0;
  }

  .grid.multicolumn-list::-webkit-scrollbar-thumb {
    background: transparent;
    height: 0;
  }

  {{ sc_id }} .multicolumn-list {
    justify-content: center;
    flex-wrap: nowrap!important;
  }
  @media screen and (min-width: 990px) and (max-width: 1499px) {
  {{ sc_id }} .grid.multicolumn-list {
      -moz-column-gap: var(--spacer-l);
      column-gap: var(--spacer-l);
    }
  }
  @media screen and (min-width: 749px) and (max-width: 989px) {
  {{ sc_id }} .grid.multicolumn-list {
      -moz-column-gap: var(--spacer-m);
      column-gap: var(--spacer-m);
    }
  }
  @media screen and (max-width: 749px) {

    {{ sc_id }} .grid.multicolumn-list {
        justify-content: left;
        -moz-column-gap: var(--spacer-s);
        column-gap: var(--spacer-s);
    }
  }

  .multicolumn-card__info {
    padding-top: 0;
    padding-bottom: 0;
  }

  {{ sc_id }} li {
    position: relative;
  }

  {{ sc_id }} li .overlay-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
{%- endstyle -%}

{% if section.settings.enable_gift_fix %}
<style>
  @media (min-width: 768px) {
    {{ sc_id }} .multicolumn-list {
      
    }
  }

  @media screen and (max-width: 580px) {
    {{ sc_id }} .grid .grid__item {
        max-width: 100%!important;
        height: auto;
    }
  }
</style>
{% endif %}

<div class='multicolumn {% unless section.settings.section_full_width != false %}container{% endunless %}'>
  <div
    class='content-wrapper section-{{ section.id }}-padding'
  >
    <div class='title-wrapper color-chocolate text-{{ section.settings.heading_alignment }}'>
      {%- liquid
        unless section.settings.title == blank
          assign title = section.settings.title | escape
          render 'tc-heading', title: title, heading_level: section.settings.heading_level, heading_font: section.settings.heading_font, heading_size: section.settings.heading_size, heading_color: section.settings.heading_color, heading_color_inverse: section.settings.heading_color_inverse, heading_margin_top: section.settings.heading_margin_top, heading_margin_bottom: section.settings.heading_margin_bottom, heading_underline: section.settings.heading_underline, line_break_dot: section.settings.line_break_dot
        endunless
        unless section.settings.sub_title == blank
          assign paragraph = section.settings.sub_title
          render 'tc-paragraph', text: paragraph, text_font: section.settings.paragraph_font, text_style: section.settings.paragraph_style, text_color: section.settings.paragraph_color, text_color_inverse: section.settings.paragraph_color_inverse, text_margin_top: section.settings.paragraph_margin_top, text_margin_bottom: section.settings.paragraph_margin_bottom
        endunless
      -%}
    </div>
    <div>
      <ul
        class='multicolumn-list grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop flex-{{ section.settings.column_alignment }}'
        role='list'
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          {%- assign empty_column = '' -%}
          {%- if block.settings.image == blank
            and block.settings.title == blank
            and block.settings.text == blank
            and block.settings.link_label == blank
          -%}
            {%- assign empty_column = ' multicolumn-list__item--empty' -%}
          {%- endif -%}

          <li
            class='multicolumn-list__item grid__item text-{{ section.settings.content_alignment }} {{ empty_column }}'
            {{ block.shopify_attributes }}
          >
            <div class='multicolumn-card content-container'>
              {%- if block.settings.image != blank -%}
                {% if section.settings.image_ratio == 'adapt'
                  or section.settings.image_ratio == 'circle'
                %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class='multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}'>
                  <div
                    class='media media--transparent media--{{ section.settings.image_ratio }} {% if section.settings.icons_fit %} icons-fit{% endif %}'
                    {% comment %} style='padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;' {% endcomment %}
                  >
                    {{
                      block.settings.image
                      | image_url: width: block.settings.max_width
                      | image_tag:
                        loading: 'lazy',
                        sizes: '100%',
                        widths: '550, 710, 1420',
                        class: 'multicolumn-card__image'
                    }}
                    {%- if block.settings.title != blank -%}
                      {% render 'tc-heading',
                        title: block.settings.title,
                        heading_level: block.settings.heading_level,
                        heading_font: block.settings.heading_font,
                        heading_size: block.settings.heading_size,
                        heading_color: block.settings.heading_color,
                        heading_color_inverse: block.settings.heading_color_inverse,
                        heading_margin_top: block.settings.heading_margin_top,
                        heading_margin_bottom: block.settings.heading_margin_bottom,
                        heading_underline: block.settings.heading_underline,
                        line_break_dot: block.settings.line_break_dot
                      %}
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}
              <div class='multicolumn-card__info'>
                {%- if block.settings.paragraph != blank -%}
                  {% render 'tc-paragraph',
                    text: block.settings.paragraph,
                    text_font: block.settings.paragraph_font,
                    text_style: block.settings.paragraph_style,
                    text_color: block.settings.paragraph_color,
                    text_color_inverse: block.settings.paragraph_color_inverse,
                    text_margin_top: block.settings.paragraph_margin_top,
                    text_margin_bottom: block.settings.paragraph_margin_bottom
                  %}
                {%- endif -%}
                {%- if block.settings.link_text != blank and block.settings.link_url != blank -%}
                  {% render 'tc-link',
                    link_text: block.settings.link_text,
                    link_url: block.settings.link_url,
                    new_tab: block.settings.new_tab,
                    link_classes: block.settings.link_style,
                    link_color_inverse: block.settings.link_color_inverse,
                    icon: block.settings.link_icon,
                    link_margin_top: block.settings.link_margin_top,
                    link_margin_bottom: block.settings.link_margin_bottom,
                    full_width: block.settings.full_width,
                    disabled: block.settings.disabled
                  %}
                {%- endif -%}
              </div>
            </div>
            {% unless block.settings.block_url == blank %}
              <a href='{{ block.settings.block_url }}' class='overlay-link'></a>
            {% endunless %}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "TC Columns",
  "class": "section section-tc-columns",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_gift_fix",
      "label": "Fix",
      "default": false
    },
    {
      "type": "color",
      "id": "bg_color",
      "default": "#ffffff",
      "label": "Background color"
    },
    {
      "type": "checkbox",
      "id": "section_full_width",
      "default": true,
      "label": "Full width"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Heading text",
      "default": "True Classic®"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Heading alignment"
    },
    {
      "type": "select",
      "id": "heading_level",
      "options": [
        {
          "value": "h1",
          "label": "Level 1"
        },
        {
          "value": "h2",
          "label": "Level 2"
        },
        {
          "value": "h3",
          "label": "Level 3"
        },
        {
          "value": "h4",
          "label": "Level 4"
        },
        {
          "value": "h5",
          "label": "Level 5"
        },
        {
          "value": "h6",
          "label": "Level 6"
        },
        {
          "value": "span",
          "label": "Span"
        }
      ],
      "default": "h2",
      "label": "Heading level"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h0",
          "label": "XX Large"
        },
        {
          "value": "h1",
          "label": "X Large"
        },
        {
          "value": "h2",
          "label": "Large"
        },
        {
          "value": "h3",
          "label": "Base"
        },
        {
          "value": "h4",
          "label": "Small"
        },
        {
          "value": "h5",
          "label": "X Small"
        },
        {
          "value": "h6",
          "label": "XX Small"
        }
      ],
      "default": "h2",
      "label": "Heading size"
    },
    {
      "type": "select",
      "id": "heading_font",
      "options": [
        {
          "value": "staff-x-condensed-type",
          "label": "Staff X Condensed"
        },
        {
          "value": "modernist-type",
          "label": "Modernist"
        },
        {
          "value": "modernist-mono-type",
          "label": "Modernist Mono"
        },
        {
          "value": "roboto-mono-type",
          "label": "Roboto Mono"
        },
        {
          "value": "montserrat-type",
          "label": "Montserrat"
        }
      ],
      "default": "staff-x-condensed-type",
      "label": "Heading font family"
    },
    {
      "type": "select",
      "id": "heading_color",
      "options": [
        {
          "value": "color-white",
          "label": "White"
        },
        {
          "value": "color-black",
          "label": "Black"
        },
        {
          "value": "color-chocolate",
          "label": "Chocolate"
        },
        {
          "value": "color-chocolate-light",
          "label": "Chocolate Light"
        },
        {
          "value": "color-chocolate-mid",
          "label": "Chocolate Medium"
        },
        {
          "value": "color-chocolate-dark",
          "label": "Chocolate Dark"
        },
        {
          "value": "color-milk-chocolate",
          "label": "Milk Chocolate"
        },
        {
          "value": "color-shitake",
          "label": "Shitake"
        },
        {
          "value": "color-sage",
          "label": "Sage"
        },
        {
          "value": "color-sage-light",
          "label": "Sage light"
        },
        {
          "value": "color-cream",
          "label": "Cream"
        },
        {
          "value": "color-cream-light",
          "label": "Cream Light"
        },
        {
          "value": "color-yellow",
          "label": "Yellow"
        },
        {
          "value": "color-red",
          "label": "Red"
        }
      ],
      "default": "color-chocolate",
      "label": "Heading color"
    },
    {
      "type": "checkbox",
      "id": "heading_color_inverse",
      "label": "Light colors on mobile",
      "default": false
    },
    {
      "type": "select",
      "id": "heading_margin_top",
      "options": [
        {
          "value": "mg-t-xxl",
          "label": "XX Large"
        },
        {
          "value": "mg-t-xl",
          "label": "X Large"
        },
        {
          "value": "mg-t-l",
          "label": "Large"
        },
        {
          "value": "mg-t-m",
          "label": "Medium"
        },
        {
          "value": "mg-t-s",
          "label": "Small"
        },
        {
          "value": "mg-t-xs",
          "label": "X Small"
        },
        {
          "value": "mg-t-none",
          "label": "No margin"
        }
      ],
      "default": "mg-t-none",
      "label": "Heading margin top"
    },
    {
      "type": "select",
      "id": "heading_margin_bottom",
      "options": [
        {
          "value": "mg-b-xxl",
          "label": "XX Large"
        },
        {
          "value": "mg-b-xl",
          "label": "X Large"
        },
        {
          "value": "mg-b-l",
          "label": "Large"
        },
        {
          "value": "mg-b-m",
          "label": "Medium"
        },
        {
          "value": "mg-b-s",
          "label": "Small"
        },
        {
          "value": "mg-b-xs",
          "label": "X Small"
        },
        {
          "value": "mg-b-none",
          "label": "No margin"
        }
      ],
      "default": "mg-b-m",
      "label": "Heading margin bottom"
    },
    {
      "type": "checkbox",
      "id": "heading_underline",
      "label": "Underline",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "line_break_dot",
      "label": "Break line only at dots",
      "default": false
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "Paraphrase of the original text",
      "label": "Section sub title"
    },
    {
      "type": "select",
      "id": "paragraph_font",
      "options": [
        {
          "value": "staff-x-condensed-type",
          "label": "Staff X Condensed"
        },
        {
          "value": "modernist-type",
          "label": "Modernist"
        },
        {
          "value": "modernist-mono-type",
          "label": "Modernist Mono"
        },
        {
          "value": "roboto-mono-type",
          "label": "Roboto Mono"
        },
        {
          "value": "montserrat-type",
          "label": "Montserrat"
        }
      ],
      "default": "modernist-type",
      "label": "Paragraph font family"
    },
    {
      "type": "select",
      "id": "paragraph_style",
      "options": [
        {
          "value": "xxl",
          "label": "XX Large"
        },
        {
          "value": "xl",
          "label": "X Large"
        },
        {
          "value": "l",
          "label": "Large"
        },
        {
          "value": "m",
          "label": "Base"
        },
        {
          "value": "s",
          "label": "Small"
        },
        {
          "value": "xs",
          "label": "X Small"
        },
        {
          "value": "xxs",
          "label": "XX Small"
        }
      ],
      "default": "m",
      "label": "Paragraph size"
    },
    {
      "type": "select",
      "id": "paragraph_color",
      "options": [
        {
          "value": "color-white",
          "label": "White"
        },
        {
          "value": "color-black",
          "label": "Black"
        },
        {
          "value": "color-chocolate",
          "label": "Chocolate"
        },
        {
          "value": "color-chocolate-light",
          "label": "Chocolate Light"
        },
        {
          "value": "color-chocolate-mid",
          "label": "Chocolate Medium"
        },
        {
          "value": "color-chocolate-dark",
          "label": "Chocolate Dark"
        },
        {
          "value": "color-milk-chocolate",
          "label": "Milk Chocolate"
        },
        {
          "value": "color-shitake",
          "label": "Shitake"
        },
        {
          "value": "color-sage",
          "label": "Sage"
        },
        {
          "value": "color-sage-light",
          "label": "Sage light"
        },
        {
          "value": "color-cream",
          "label": "Cream"
        },
        {
          "value": "color-cream-light",
          "label": "Cream Light"
        },
        {
          "value": "color-yellow",
          "label": "Yellow"
        },
        {
          "value": "color-red",
          "label": "Red"
        }
      ],
      "default": "color-chocolate",
      "label": "Paragraph color"
    },
    {
      "type": "checkbox",
      "id": "paragraph_color_inverse",
      "label": "Light colors on mobile",
      "default": false
    },
    {
      "type": "select",
      "id": "paragraph_margin_top",
      "options": [
        {
          "value": "mg-t-xxl",
          "label": "XX Large"
        },
        {
          "value": "mg-t-xl",
          "label": "X Large"
        },
        {
          "value": "mg-t-l",
          "label": "Large"
        },
        {
          "value": "mg-t-m",
          "label": "Medium"
        },
        {
          "value": "mg-t-s",
          "label": "Small"
        },
        {
          "value": "mg-t-xs",
          "label": "X Small"
        },
        {
          "value": "mg-t-none",
          "label": "No margin"
        }
      ],
      "default": "mg-t-none",
      "label": "Paragraph margin top"
    },
    {
      "type": "select",
      "id": "paragraph_margin_bottom",
      "options": [
        {
          "value": "mg-b-xxl",
          "label": "XX Large"
        },
        {
          "value": "mg-b-xl",
          "label": "X Large"
        },
        {
          "value": "mg-b-l",
          "label": "Large"
        },
        {
          "value": "mg-b-m",
          "label": "Medium"
        },
        {
          "value": "mg-b-s",
          "label": "Small"
        },
        {
          "value": "mg-b-xs",
          "label": "X Small"
        },
        {
          "value": "mg-b-none",
          "label": "No margin"
        }
      ],
      "default": "mg-b-m",
      "label": "Paragraph margin bottom"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "Third"
        },
        {
          "value": "half",
          "label": "Half"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ],
      "default": "full",
      "label": "Image width"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "Number of columns on desktop"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Column alignment"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Content alignment"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1",
      "label": "Columns on mobile"
    },
    {
      "type": "checkbox",
      "id": "swipe_mobile",
      "default": false,
      "label": "Enable swipe on mobile"
    },
    {
      "type": "checkbox",
      "id": "enable_borders_around",
      "default": false,
      "label": "Add border around each column"
    },
    {
      "type": "checkbox",
      "id": "enable_borders",
      "default": false,
      "label": "Add borders between columns"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "select",
      "id": "content_style",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ],
      "default": "1",
      "label": "Style"
    },
    {
      "type": "checkbox",
      "id": "icons_fit",
      "default": false,
      "label": "Icons fit"
    },
    {
      "type": "checkbox",
      "id": "special",
      "default": false,
      "label": "Specific styles"
    },
    {
      "type": "checkbox",
      "id": "special_alt",
      "default": false,
      "label": "Specific styles 2"
    },
    {
      "type": "checkbox",
      "id": "special_icons",
      "default": false,
      "label": "Styling for icons"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "id": "block_url",
          "type": "url",
          "label": "Block URL"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Heading text",
          "default": "True Classic"
        },
        {
          "type": "select",
          "id": "heading_level",
          "options": [
            {
              "value": "h1",
              "label": "Level 1"
            },
            {
              "value": "h2",
              "label": "Level 2"
            },
            {
              "value": "h3",
              "label": "Level 3"
            },
            {
              "value": "h4",
              "label": "Level 4"
            },
            {
              "value": "h5",
              "label": "Level 5"
            },
            {
              "value": "h6",
              "label": "Level 6"
            },
            {
              "value": "span",
              "label": "Span"
            }
          ],
          "default": "h2",
          "label": "Heading level"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h0",
              "label": "XX Large"
            },
            {
              "value": "h1",
              "label": "X Large"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h3",
              "label": "Base"
            },
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h5",
              "label": "X Small"
            },
            {
              "value": "h6",
              "label": "XX Small"
            }
          ],
          "default": "h2",
          "label": "Heading size"
        },
        {
          "type": "select",
          "id": "heading_font",
          "options": [
            {
              "value": "staff-x-condensed-type",
              "label": "Staff X Condensed"
            },
            {
              "value": "modernist-type",
              "label": "Modernist"
            },
            {
              "value": "modernist-mono-type",
              "label": "Modernist Mono"
            },
            {
              "value": "roboto-mono-type",
              "label": "Roboto Mono"
            },
            {
              "value": "montserrat-type",
              "label": "Montserrat"
            }
          ],
          "default": "staff-x-condensed-type",
          "label": "Heading font family"
        },
        {
          "type": "select",
          "id": "heading_color",
          "options": [
            {
              "value": "color-white",
              "label": "White"
            },
            {
              "value": "color-black",
              "label": "Black"
            },
            {
              "value": "color-chocolate",
              "label": "Chocolate"
            },
            {
              "value": "color-chocolate-light",
              "label": "Chocolate Light"
            },
            {
              "value": "color-chocolate-mid",
              "label": "Chocolate Medium"
            },
            {
              "value": "color-chocolate-dark",
              "label": "Chocolate Dark"
            },
            {
              "value": "color-milk-chocolate",
              "label": "Milk Chocolate"
            },
            {
              "value": "color-shitake",
              "label": "Shitake"
            },
            {
              "value": "color-sage",
              "label": "Sage"
            },
            {
              "value": "color-sage-light",
              "label": "Sage light"
            },
            {
              "value": "color-cream",
              "label": "Cream"
            },
            {
              "value": "color-cream-light",
              "label": "Cream Light"
            },
            {
              "value": "color-yellow",
              "label": "Yellow"
            },
            {
              "value": "color-red",
              "label": "Red"
            }
          ],
          "default": "color-chocolate",
          "label": "Heading color"
        },
        {
          "type": "checkbox",
          "id": "heading_color_inverse",
          "label": "Light colors on mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "heading_margin_top",
          "options": [
            {
              "value": "mg-t-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-t-xl",
              "label": "X Large"
            },
            {
              "value": "mg-t-l",
              "label": "Large"
            },
            {
              "value": "mg-t-m",
              "label": "Medium"
            },
            {
              "value": "mg-t-s",
              "label": "Small"
            },
            {
              "value": "mg-t-xs",
              "label": "X Small"
            },
            {
              "value": "mg-t-none",
              "label": "No margin"
            }
          ],
          "default": "mg-t-none",
          "label": "Heading margin top"
        },
        {
          "type": "select",
          "id": "heading_margin_bottom",
          "options": [
            {
              "value": "mg-b-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-b-xl",
              "label": "X Large"
            },
            {
              "value": "mg-b-l",
              "label": "Large"
            },
            {
              "value": "mg-b-m",
              "label": "Medium"
            },
            {
              "value": "mg-b-s",
              "label": "Small"
            },
            {
              "value": "mg-b-xs",
              "label": "X Small"
            },
            {
              "value": "mg-b-none",
              "label": "No margin"
            }
          ],
          "default": "mg-b-m",
          "label": "Heading margin bottom"
        },
        {
          "type": "checkbox",
          "id": "heading_underline",
          "label": "Underline",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "line_break_dot",
          "label": "Break line only at dots",
          "default": false
        },
        {
          "id": "paragraph",
          "type": "richtext",
          "label": "Paragraph text",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>"
        },
        {
          "type": "select",
          "id": "paragraph_font",
          "options": [
            {
              "value": "staff-x-condensed-type",
              "label": "Staff X Condensed"
            },
            {
              "value": "modernist-type",
              "label": "Modernist"
            },
            {
              "value": "modernist-mono-type",
              "label": "Modernist Mono"
            },
            {
              "value": "roboto-mono-type",
              "label": "Roboto Mono"
            },
            {
              "value": "montserrat-type",
              "label": "Montserrat"
            }
          ],
          "default": "modernist-type",
          "label": "Paragraph font family"
        },
        {
          "type": "select",
          "id": "paragraph_style",
          "options": [
            {
              "value": "xxl",
              "label": "XX Large"
            },
            {
              "value": "xl",
              "label": "X Large"
            },
            {
              "value": "l",
              "label": "Large"
            },
            {
              "value": "m",
              "label": "Base"
            },
            {
              "value": "s",
              "label": "Small"
            },
            {
              "value": "xs",
              "label": "X Small"
            },
            {
              "value": "xxs",
              "label": "XX Small"
            }
          ],
          "default": "m",
          "label": "Paragraph size"
        },
        {
          "type": "select",
          "id": "paragraph_color",
          "options": [
            {
              "value": "color-white",
              "label": "White"
            },
            {
              "value": "color-black",
              "label": "Black"
            },
            {
              "value": "color-chocolate",
              "label": "Chocolate"
            },
            {
              "value": "color-chocolate-light",
              "label": "Chocolate Light"
            },
            {
              "value": "color-chocolate-mid",
              "label": "Chocolate Medium"
            },
            {
              "value": "color-chocolate-dark",
              "label": "Chocolate Dark"
            },
            {
              "value": "color-milk-chocolate",
              "label": "Milk Chocolate"
            },
            {
              "value": "color-shitake",
              "label": "Shitake"
            },
            {
              "value": "color-sage",
              "label": "Sage"
            },
            {
              "value": "color-sage-light",
              "label": "Sage light"
            },
            {
              "value": "color-cream",
              "label": "Cream"
            },
            {
              "value": "color-cream-light",
              "label": "Cream Light"
            },
            {
              "value": "color-yellow",
              "label": "Yellow"
            },
            {
              "value": "color-red",
              "label": "Red"
            }
          ],
          "default": "color-chocolate",
          "label": "Paragraph color"
        },
        {
          "type": "checkbox",
          "id": "paragraph_color_inverse",
          "label": "Light colors on mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "paragraph_margin_top",
          "options": [
            {
              "value": "mg-t-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-t-xl",
              "label": "X Large"
            },
            {
              "value": "mg-t-l",
              "label": "Large"
            },
            {
              "value": "mg-t-m",
              "label": "Medium"
            },
            {
              "value": "mg-t-s",
              "label": "Small"
            },
            {
              "value": "mg-t-xs",
              "label": "X Small"
            },
            {
              "value": "mg-t-none",
              "label": "No margin"
            }
          ],
          "default": "mg-t-none",
          "label": "Paragraph margin top"
        },
        {
          "type": "select",
          "id": "paragraph_margin_bottom",
          "options": [
            {
              "value": "mg-b-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-b-xl",
              "label": "X Large"
            },
            {
              "value": "mg-b-l",
              "label": "Large"
            },
            {
              "value": "mg-b-m",
              "label": "Medium"
            },
            {
              "value": "mg-b-s",
              "label": "Small"
            },
            {
              "value": "mg-b-xs",
              "label": "X Small"
            },
            {
              "value": "mg-b-none",
              "label": "No margin"
            }
          ],
          "default": "mg-b-m",
          "label": "Paragraph margin bottom"
        },
        {
          "id": "link_text",
          "type": "text",
          "label": "Link Label",
          "default": "Shop Now"
        },
        {
          "id": "link_url",
          "type": "url",
          "label": "Link URL"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open link in new tab",
          "default": false
        },
        {
          "type": "select",
          "id": "link_style",
          "options": [
            {
              "value": "primary",
              "label": "Primary (Brown)"
            },
            {
              "value": "primary inverse",
              "label": "Primary Inverse"
            },

            {
              "value": "primary black",
              "label": "Primary Black"
            },
            {
              "value": "primary wood",
              "label": "Primary wood"
            },
            {
              "value": "primary red",
              "label": "Primary (Red)"
            },
            {
              "value": "secondary",
              "label": "Secondary (outlined)"
            },
            {
              "value": "tertiary",
              "label": "Tertiary (inline)"
            }
          ],
          "default": "primary",
          "label": "Link style"
        },
        {
          "type": "checkbox",
          "id": "link_color_inverse",
          "label": "Light colors on mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "link_icon",
          "options": [
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "arrow-right",
              "label": "Right arrow"
            },
            {
              "value": "arrow-left",
              "label": "Left arrow"
            },
            {
              "value": "plus",
              "label": "Plus sign"
            },
            {
              "value": "down",
              "label": "Down caret"
            },
            {
              "value": "up",
              "label": "Up caret"
            },
            {
              "value": "left",
              "label": "Left caret"
            },
            {
              "value": "right",
              "label": "Right caret"
            },
            {
              "value": "fit",
              "label": "Fit"
            },
            {
              "value": "chart",
              "label": "Chart"
            },
            {
              "value": "play",
              "label": "Play"
            },
            {
              "value": "none",
              "label": "None"
            }
          ],
          "default": "arrow-right",
          "label": "Link icon"
        },
        {
          "type": "select",
          "id": "link_margin_top",
          "options": [
            {
              "value": "mg-t-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-t-xl",
              "label": "X Large"
            },
            {
              "value": "mg-t-l",
              "label": "Large"
            },
            {
              "value": "mg-t-m",
              "label": "Medium"
            },
            {
              "value": "mg-t-s",
              "label": "Small"
            },
            {
              "value": "mg-t-xs",
              "label": "X Small"
            },
            {
              "value": "mg-t-none",
              "label": "No margin"
            }
          ],
          "default": "mg-t-none",
          "label": "Link margin top"
        },
        {
          "type": "select",
          "id": "link_margin_bottom",
          "options": [
            {
              "value": "mg-b-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-b-xl",
              "label": "X Large"
            },
            {
              "value": "mg-b-l",
              "label": "Large"
            },
            {
              "value": "mg-b-m",
              "label": "Medium"
            },
            {
              "value": "mg-b-s",
              "label": "Small"
            },
            {
              "value": "mg-b-xs",
              "label": "X Small"
            },
            {
              "value": "mg-b-none",
              "label": "No margin"
            }
          ],
          "default": "mg-b-m",
          "label": "Link margin bottom"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Link full width",
          "default": false
        },
        {
          "id": "disabled",
          "type": "checkbox",
          "label": "Disabled",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TC Columns",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
