{%- liquid
  assign country_codes = section.settings.country_code | split: ','
  assign exclude_country_codes = section.settings.exclude_country_code | split: ','
  assign should_show_banner = false

  if section.settings.country_code == '' and section.settings.exclude_country_code == ''
    assign should_show_banner = true
  else
    assign is_excluded = false
    for exclude_code in exclude_country_codes
      if localization.country.iso_code == exclude_code
        assign is_excluded = true
        break
      endif
    endfor

    unless is_excluded
      if section.settings.country_code == ''
        assign should_show_banner = true
      else
        for code in country_codes
          if localization.country.iso_code == code
            assign should_show_banner = true
            break
          endif
        endfor
      endif
    endunless
  endif
-%}

{% if should_show_banner %}
  {%- liquid
    assign sc_id = '#shopify-section-' | append: section.id
    assign image_desktop = section.settings.section_image
    assign image_mobile = section.settings.section_image_mobile
    assign banner = '.img-banner-' | append: section.id

    assign breakpoint = section.settings.breakpoint
    assign min_breakpoint = breakpoint | minus: 1
    assign max_breakpoint = min_breakpoint | plus: 0.1

    if image_desktop.aspect_ratio < 1
      assign aspect_ratio_desktop = '105%'
    elsif image_desktop.aspect_ratio == 1
      assign aspect_ratio_desktop = '100%'
    elsif image_desktop.aspect_ratio >= 1.2 and image_desktop.aspect_ratio <= 1.4
      assign aspect_ratio_desktop = '100%'
    elsif image_desktop.aspect_ratio >= 1.6 and image_desktop.aspect_ratio <= 1.8
      assign aspect_ratio_desktop = '75%'
    elsif image_desktop.aspect_ratio >= 1.81 and image_desktop.aspect_ratio <= 2.4
      assign aspect_ratio_desktop = '75.25%'
    elsif image_desktop.aspect_ratio >= 2.41 and image_desktop.aspect_ratio <= 2.8
      assign aspect_ratio_desktop = '56.25%'
    elsif image_desktop.aspect_ratio >= 2.81
      assign aspect_ratio_desktop = '56.25%'
    endif
  -%}

  {% comment %} STYLES {% endcomment %}

  <style type='text/css'>
     .img-banner .video-section__media {
       padding-bottom: 0 !important;
     }
     .img-banner .video-section__media video {
       position: inherit;
     }
    .img-banner-block.img-banner-media .block-image img {
      height: 100% !important;
      width: 100% !important;
      object-fit: cover !important;
      object-position: center !important;
    }
     @media screen and ( min-width: {{ max_breakpoint }}px ) {
       {{ banner }} .mobile-image {
         display: none!important;
       }
     }
     @media screen and ( max-width: {{ min_breakpoint }}px ) {
       {{ banner }} .desktop-image {
         display: none!important;
       }
     }

     {% if localization.country.iso_code == 'US' %}
       .international {
         display: none !important;
       }
     {% else %}
       .us_only {
         display: none !important;
       }
     {% endif %}

     {%- if section.settings.section_height == 'adapt' and section.settings.media_position == 'unset' and section.settings.enable_absolute == true -%}
       @media screen and ( max-width: {{ min_breakpoint }}px ) {

         {{ banner }} .mobile-image {
           left: 0!important;
           transform: scale(1)!important;
         }

         {{ banner }} > .img-banner-block.img-banner-media:after {
           position: relative!important;
           content: " ";
           padding-bottom: 100%!important;
           display: block;
         }

       }
     {%- endif -%}

     {% comment %} ---# TOP LEVEL SECTION #--- {% endcomment %}

     {%- if section.settings.full_width != true -%}
       @media screen and ( min-width: {{ min_breakpoint | plus: 1 }}px ) {
         {{ sc_id }} {
           background-color: {{ section.settings.section_bg_color }}
         }
         {{ sc_id }} > * {
           max-width: var(--container-width);
           margin-left: auto;
           margin-right: auto;
           padding-left: 1.25rem;
           padding-left: var(--edge-space);
           padding-right: 1.25rem;
           padding-right: var(--edge-space);
         }
       }
     {%- endif -%}

     {%- if section.settings.full_width == true -%}
       {{ sc_id }} {
         max-width: 100vw !important;
         padding-left: 0 !important;
         padding-right: 0 !important;
       }
     {%- endif -%}

     {{ sc_id }} {
       padding-top: {{ section.settings.padding_top | times: 0.50 }}px;
       padding-bottom: {{ section.settings.padding_bottom | times: 0.50 }}px;
     }

     @media screen and (min-width: {{ max_breakpoint }}px) {
       {{ sc_id }} {
         padding-top: {{ section.settings.padding_top }}px;
         padding-bottom: {{ section.settings.padding_bottom }}px;
       }
     }

     {% comment %} ---# IMAGE SECTION #--- {% endcomment %}

     {{ banner }} {
       padding-top: {{ section.settings.inner_padding_top | times: 0.50 }}px;
       padding-bottom: {{ section.settings.inner_padding_bottom | times: 0.50 }}px;
     }

     @media screen and (min-width: {{ max_breakpoint }}px) {
       {{ banner }} {
         padding-top: {{ section.settings.inner_padding_top }}px;
         padding-bottom: {{ section.settings.inner_padding_bottom }}px;
       }
     }

     {{ sc_id }} .img-banner {
       position: relative;
       overflow: hidden;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
     }

     @media screen and ( min-width: {{ max_breakpoint }}px ) {
       {{ sc_id }} .d-rr {
         flex-direction: row-reverse;
       }
     }

     @media screen and ( max-width: {{ min_breakpoint }}px ) {
       {{ sc_id }} .img-banner {
         justify-content: center;
         align-items: center;
       }
       {{ sc_id }} .m-vrt {
         flex-direction: column;
       }
       {{ sc_id }} .m-cr {
         flex-direction: column-reverse;
       }
     }

     @media screen and ( min-width: {{ max_breakpoint }}px ) {

       {{ sc_id }} .img-banner {
         margin-left: auto;
         margin-right: auto;
       }

       {{ banner }} {
         max-width: {{ section.settings.section_max_width }}px;
         width: 100%;
       }
     }

     {% if section.settings.section_height == "550" or section.settings.section_height == "700" or section.settings.section_height == "990" or section.settings.section_height == "1200" %}

       @media screen and ( min-width: {{ max_breakpoint }}px ) {

         {{ banner }} {
           max-height: {{ section.settings.section_height }}px;
           min-height: {{ section.settings.section_height }}px!important;
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
         }

         {{ banner }} .img-banner-block.img-banner-media {
           position: absolute!important;
           height: -webkit-fill-available;
           height: 100%;
         }
       }

     {% endif %}

     {% if section.settings.section_height == "full" %}

       @media screen and ( min-width: {{ max_breakpoint }}px ) {

         {{ banner }} {
           {%- if section.settings.section_height == "full" and section.settings.mobile_positioning == 'overlay' -%}
             height: calc(100vh - 116.5px)!important;
           {%- elsif section.settings.section_height == "full" and section.settings.mobile_positioning == 'after' -%}
             height: calc(100vh - 116.5px)!important;
           {%- endif -%}
         }
       }

       @media screen and ( max-width: {{ min_breakpoint }}px ) {

         {{ banner }} {
           {%- if section.settings.section_height == "full" and section.settings.mobile_positioning == 'overlay' -%}
             height: calc(100vh - 102px)!important;
           {%- elsif section.settings.section_height == "full" and section.settings.mobile_positioning == 'after' -%}
             height: calc(100vh - 102px)!important;
           {%- endif -%}
         }

         {{ banner }} > *:not(style) {
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
           {%- if section.settings.section_height == "full" and section.settings.mobile_positioning == 'overlay' -%}
             height: calc(80vh - 100px);
             {%- elsif section.settings.section_height == "full" and section.settings.mobile_positioning == 'after' -%}
             height: auto;
             {%- else -%}
           {%- endif -%}
         }
       }

     {% endif %}

     {% if section.settings.section_height == "adapt" %}

       @media screen and ( max-width: {{ min_breakpoint }}px ) {

         {{ banner }} {
             height: {{ section.settings.section_height_mobile }}px!important;
         }
       }

     {% endif %}

     {% comment %} ---# MEDIA #--- {% endcomment %}

     {{ sc_id }} .img-banner-media {
       position: relative;
       display: grid;
       grid-template-rows: auto auto auto;
       grid-template-columns: repeat(3, 1fr);
       gap: 10px;
     }

     {{ sc_id }} .img-banner-block .video-section__media {
       grid-column: span 3;
     }

     @media screen and ( min-width: {{ max_breakpoint }}px ) {
       {{ banner }}.small > .img-banner-media { width: 30%; }
       {{ banner }}.medium > .img-banner-media { width: 50%; }
       {{ banner }}.large > .img-banner-media { width: 70%; }
       {{ banner }}.full > .img-banner-media { width: 100%; }
     }

     {%- if section.settings.media_position == 'normal' -%}

       @media screen and ( min-width: {{ max_breakpoint }}px ) {
         {{ banner }}.small > .img-banner-media { -webkit-box-align: end; -ms-flex-pack: end; justify-content: end; }
         {{ banner }}.medium > .img-banner-media { -webkit-box-align: end; -ms-flex-pack: end; justify-content: end; }
         {{ banner }}.large > .img-banner-media { -webkit-box-align: end; -ms-flex-pack: end; justify-content: end; }
       }

       {%- elsif section.settings.media_position == 'reverse' -%}

       @media screen and ( min-width: {{ max_breakpoint }}px ) {
         {{ banner }}.small > .img-banner-media { -webkit-box-align: start; -ms-flex-pack: start; -webkit-box-pack: start; justify-content: start; }
         {{ banner }}.medium > .img-banner-media { -webkit-box-align: start; -ms-flex-pack: start; -webkit-box-pack: start; justify-content: start; }
         {{ banner }}.large > .img-banner-media { -webkit-box-align: start; -ms-flex-pack: start; -webkit-box-pack: start; justify-content: start; }
       }

     {%- endif -%}

     @media screen and ( min-width: {{ max_breakpoint }}px ) {

       {%- if section.settings.enable_max_media_width and section.settings.enable_center_media -%}

         {{ sc_id }} .img-banner-block > img {
           position: relative;
           max-width: unset;
           left: 50%;
           -webkit-transform: translateX(-50%);
               -ms-transform: translateX(-50%);
                   transform: translateX(-50%);
         }

       {%- endif -%}

       {{ banner }} .img-banner-block > img {
         {% if section.settings.enable_max_media_width and section.settings.enable_center_media %}
           position: absolute;
         {% else %}
         position: relative;
         {% endif %}
         height: auto;
         min-width: -webkit-fill-available;
       }
     }

     {{ banner }} .img-banner-block > img {
       height: auto;
       width: 100%;
     }

     {%- if section.settings.section_height == "full" -%}

       @media screen and ( min-width: {{ max_breakpoint }}px ) {

         {{ banner }} .img-banner-block > img {
           -o-object-fit: cover;
             object-fit: cover;
           width: -webkit-fill-available;
           height: auto;
         }
       }

     {% endif %}

     {%- if section.settings.section_height == "550" or section.settings.section_height == "700" or section.settings.section_height == "990" or section.settings.section_height == "1200" -%}

       @media screen and ( min-width: {{ max_breakpoint }}px ) {

         {{ sc_id }} .img-banner-block > img {
           position: relative;
           -o-object-fit: cover;
             object-fit: cover;
           width: -webkit-fill-available;
           max-width: unset;
           left: 50%;
           -webkit-transform: translateX(-50%);
               -ms-transform: translateX(-50%);
                   transform: translateX(-50%);
         }
       }

     {%- endif -%}

     @media screen and ( min-width: {{ max_breakpoint }}px ) {

       {{ banner }} .img-banner-block.img-banner-media {
         padding-left: {{ section.settings.media_margin_left }}px!important;
         padding-right: {{ section.settings.media_margin_right }}px!important;
         padding-top: {{ section.settings.media_margin_top }}px!important;
         padding-bottom: {{ section.settings.media_margin_bottom }}px!important;
       }
     }

     @media screen and ( max-width: {{ min_breakpoint }}px ) {

       {{ banner }} .img-banner-block.img-banner-media,
       {{ banner }} .img-banner-content {
         width: 100%;
       }
     }

     {% comment %} ---# CONTENT #--- {% endcomment %}

     {{ sc_id }} .img-banner .img-banner-content {
       padding-top: 0rem;
       padding-bottom: 0rem;
       max-width: 100%;
       position: absolute;
     }

     {%- if section.settings.enable_absolute != true and section.settings.media_position != 'unset' -%}

       @media screen and ( min-width: {{ max_breakpoint }}px ) {

         {{ sc_id }} .img-banner .img-banner-content {
           position: absolute;
           top: 0;
           bottom: 0;
           height: -webkit-fill-available;
           height: 100%;
           align-items: center;
         }

         {{ banner }}.small .img-banner-content {
           {% if section.settings.media_position == 'normal' %}
             left: calc(30% - var(--edge-space));
           {% elsif section.settings.media_position == 'reverse' %}
             right: calc(30% - var(--edge-space));
             width: calc(70% - var(--edge-space));
           {% endif %}
         }

         {{ banner }}.medium .img-banner-content {
           {% if section.settings.media_position == 'normal' %}
             left: calc(50% - var(--edge-space));
           {% elsif section.settings.media_position == 'reverse' %}
             right: calc(50% - var(--edge-space));
             width: calc(50% - var(--edge-space));
           {% endif %}
         }

         {{ banner }}.large .img-banner-content {
           {% if section.settings.media_position == 'normal' %}
             left: calc(70% - var(--edge-space));
           {% elsif section.settings.media_position == 'reverse' %}
             right: calc(70% - var(--edge-space));
             width: calc(30% - var(--edge-space));
           {% endif %}
         }
       }

     {%- endif -%}

     {%- if section.settings.enable_absolute != true -%}

       @media screen and ( min-width: {{ max_breakpoint }}px ) {
         {{ banner }}.small,
         {{ banner }}.medium,
         {{ banner }}.large {
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           height: auto;
           align-items: center;
           -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
         }
         {{ banner }}.small > .img-banner-content { width: 70%; }
         {{ banner }}.medium > .img-banner-content { width: 50%; }
         {{ banner }}.large > .img-banner-content { width: 30%; }
         {{ banner }}.full > .img-banner-content { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
       }

     {%- else -%}

       @media screen and ( min-width: {{ max_breakpoint }}px ) {
         {{ banner }} > .img-banner-content {
           position: absolute!important;
           {%- if section.settings.enable_distance_top == true -%}top: {{ section.settings.content_top }}%;{%- endif -%}
           {%- if section.settings.enable_distance_bottom == true -%}bottom: {{ section.settings.content_bottom }}%;{%- endif -%}
           {%- if section.settings.enable_distance_top != true and section.settings.enable_distance_bottom != true and section.settings.enable_distance_left != true and section.settings.enable_distance_right != true -%} top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); {%- endif -%}
         }
       }

       @media screen and ( min-width: {{ max_breakpoint }}px ) {
         {{ banner }} > .img-banner-content {
           position: absolute!important;
           {%- if section.settings.enable_distance_left == true -%}left: {{ section.settings.content_left }}%;{%- endif -%}
           {%- if section.settings.enable_distance_right == true -%}right: {{ section.settings.content_right }}%;{%- endif -%}
         }
       }

     {%- endif -%}

     {%- if section.settings.mobile_positioning == 'overlay' -%}

       @media screen and (max-width: {{ min_breakpoint }}px) {

         {{ banner }} > .img-banner-block.img-banner-media:after {
           position: relative!important;
           content: " ";
           padding-bottom: {{ aspect_ratio_desktop }};
           display: block;
         }

         {{ banner }} > .img-banner-block.img-banner-content {
           position: absolute;
           z-index: 2;
           display: flex;
           align-items: center;
           justify-content: center;
           top: 0;
           height: -webkit-fill-available;
           {% if section.settings.text_position_mobile == 'center' %}
             -webkit-transform: translateX(-50%);
                 -ms-transform: translateX(-50%);
                     transform: translateX(-50%);
             padding-left: 1rem;
             padding-right: 1rem;
           {% elsif section.settings.text_position_mobile == 'left' or section.settings.text_position_mobile == 'right' %}
             padding-left: 2rem;
             padding-right: 2rem;
           {% endif %}
         }

         {{ banner }} > .img-banner-block.img-banner-media > img {
           top: 0;
           left: 50%;
           -webkit-transform: translateX(-50%);
           -ms-transform: translateX(-50%);
           transform: translateX(-50%);

           max-width: initial!important;
           height: auto;
           width: 100%;
         }
       }
     {%- endif -%}

     {% if section.settings.mobile_positioning != 'after' %}
     @media screen and ( max-width: {{ min_breakpoint }}px ) {
       {{ banner }} .img-banner-content {
         top: {{ section.settings.content_top_mobile }}%!important;
         -webkit-transform: translateY(-50%)!important;
         -ms-transform: translateY(-50%)!important;
         transform: translateY(-50%)!important;
       }
     }
     {% endif %}

     {% if section.settings.mobile_positioning == 'after' %}
       @media screen and ( max-width: {{ min_breakpoint }}px ) {
         {{ banner }} .img-banner-content {
           position: relative !important;
           padding-top: 40px !important;
           padding-bottom: 40px !important;
         }
       }
     {% endif %}

     {{ banner }} .img-banner-content,
     {{ banner }} .img-banner-block-content {
       margin-left: auto;
       margin-right: auto;
     }

     {{ banner }} .img-banner-block-content {
       padding: {{ section.settings.content_padding_dt }}rem;
     }

     @media screen and ( min-width: {{ max_breakpoint }}px ) {

       {% if section.settings.content_fit == false %}
         {{ banner }} .img-banner-block-content {
           width: {{ section.settings.content_width }}vw;
           display: flex;
           flex-direction: column;
           padding: {{ section.settings.content_padding_mb }}rem;
         }
       {% endif %}
     }

       {{ banner }} .img-banner-content .headline,
       {{ banner }} .img-banner-content .button {
         {% if section.settings.text_position == 'center' -%}
           margin-left: auto!important;
           margin-right: auto!important;
         {% endif %}
       }

     @media screen and ( max-width: {{ min_breakpoint }}px ) {

       {{ banner }} .img-banner-content {
         text-align: {{ section.settings.text_position_mobile }};
       }
       {{ banner }} .img-banner-content .banner__heading {
         {% if section.settings.text_position_mobile == 'center' -%}
           margin-left: auto!important;
           margin-right: auto!important;
         {% endif %}
       }
     }

     @media screen and ( min-width: {{ max_breakpoint }}px ) {

       {{ banner }} .img-banner-content,
       {{ banner }} .image-banner-splitted-icons,
       {{ banner }} .image-banner-splitted-icons {
         text-align: {{ section.settings.text_position }};
         {% if section.settings.text_position == 'center' %}
           margin-left: auto;
           margin-right: auto;
         {% endif %}
       }
     }

     @media screen and ( max-width: {{ min_breakpoint }}px ) {
       {{ banner }} .image-banner-splitted-icons {
         {% if section.settings.text_position == 'center' %}
           margin-left: auto;
           margin-right: auto;
         {% endif %}
       }
     }

     @media screen and ( max-width: {{ min_breakpoint }}px ) {

       {{ banner }} .img-banner-content {
         width: 95vw!important;
       }
       {{ banner }} .img-banner-content .img-banner-block-content {
         width: 100%;
       }
     }

     {{ sc_id }} .content__buttons {
       display: -webkit-inline-box;
       display: -ms-inline-flexbox;
       display: inline-flex;
       width: 100%;
       {%- if section.settings.text_position_mobile == 'left' -%}
         -webkit-box-pack: start;
         -ms-flex-pack: start;
         justify-content: flex-start;
       {%- elsif section.settings.text_position_mobile == 'center' -%}
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: center;
       {%- elsif section.settings.text_position_mobile == 'right' -%}
         -webkit-box-pack: end;
         -ms-flex-pack: end;
         justify-content: flex-end;
       {%- endif -%}
     }

     @media screen and ( min-width: {{ max_breakpoint }}px ) {

       {{ sc_id }} .content__buttons {
         {%- if section.settings.text_position == 'left' -%}
           -webkit-box-pack: start;
           -ms-flex-pack: start;
           justify-content: flex-start;
         {%- elsif section.settings.text_position == 'center' -%}
           -webkit-box-pack: center;
           -ms-flex-pack: center;
           justify-content: center;
         {%- elsif section.settings.text_position == 'right' -%}
           -webkit-box-pack: end;
           -ms-flex-pack: end;
           justify-content: flex-end;
         {%- endif -%}
       }
     }

     .block-image > img {
       height: auto;
     }

     @media screen and ( max-width: {{ min_breakpoint }}px ) {
       .block-image > img {
         margin-left: auto;
         margin-right: auto;
       }
     }
     {% if section.settings.enable_prime_style %}
       {{ sc_id }} h1,
       {{ sc_id }} h2 {
         font-style: italic;
         line-height: 1;
       }
       {{ sc_id }} h2 {
         position: relative;
       }
       {{ sc_id }} h2:after {
         content: "";
         position: absolute;
         top: 40%;
         {% comment %} right: 0; {% endcomment %}
         width: 9vw;
         height: 2vh;
         margin-left: 10px;
         background-image: url("https://cdn.shopify.com/s/files/1/0220/4008/4552/files/Arrow-PrimeTime.svg?v=1689012944");
         background-repeat: no-repeat;
         background-size: contain;
       }

       @media screen and ( min-width: {{ max_breakpoint }}px ) {
         {{ sc_id }} h1,
         {{ sc_id }} h2 {
           {% comment %} font-size: 118px; {% endcomment %}
           font-size: 8vw;
         }
       }
       @media screen and ( max-width: {{ min_breakpoint }}px ) {
         {{ sc_id }} h1,
         {{ sc_id }} h2 {
           font-size: 20vw;
           text-align: left;
         }
         {{ sc_id }} h2:after {
           width: 25vw;
           height: 5vh;
           right: unset;
           margin-left: 10px;
         }
         {{ sc_id }} img {
           opacity: 0;
         }
       }
     {% endif %}
     .countdown-in-banner {
       color: #fff;
     }
  </style>

  {% comment %} CONTENT {% endcomment %}
  <div
    class='img-banner img-banner-{{ section.id }} {{ section.settings.international_banner }}{% if section.settings.media_position == 'reverse' %} d-rr{% endif %} m-vrt{% if section.settings.reverse_mobile != true %} m-cr{% endif %} {{ section.settings.media_size }}'
    style='background-color: {{ section.settings.section_bg_color }};{% if section.settings.hidden %} display: none;{% endif %}'
  >
    <div class='img-banner-block img-banner-media'>
      {% if section.settings.video != null %}
        {% assign video_id = section.settings.video.id %}
        <deferred-media
          class='video-section__media deferred-media no-js-hidden gradient global-media-settings media-fit-cover'
          style='--ratio-percent: {{ section.settings.aspect_ratio }}%;'
          data-media-id='{{ video_id }}'
        >
          {{
            section.settings.video
            | video_tag:
              image_size: '900x',
              autoplay: false,
              loop: true,
              controls: true,
              muted: true
          }}
        </deferred-media>
      {% elsif section.settings.section_image != null %}
        {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
        {%- liquid
          assign image_desktop_height = image_desktop.width | divided_by: image_desktop.aspect_ratio
          if image_mobile == null
            assign image_desktop_class = ''
          else
            assign image_desktop_class = 'desktop-image'
          endif
          if section.settings.media_size == 'small'
            assign sizes_desktop = '30vw'
          elsif section.settings.media_size == 'medium'
            assign sizes_desktop = '50vw'
          elsif section.settings.media_size == 'large'
            assign sizes_desktop = '70vw'
          elsif section.settings.media_size == 'full'
            assign sizes_desktop = '100vw'
          endif
          if section.settings.enable_lazyload
            assign loading = 'lazy'
          else
            assign loading = 'eager'
          endif
        -%}
        {{
          image_desktop
          | image_url: width: 3000
          | image_tag:
            width: image_desktop.width,
            height: image_desktop_height,
            class: image_desktop_class,
            sizes: sizes_desktop,
            loading: loading,
            widths: '165, 265, 360, 535, 750, 1070, 1500, 1780, 2000, 3000, 3800',
            alt: image_desktop.alt
          | escape
        }}

        {% unless image_mobile == null %}
          {%- liquid
            assign image_mobile_height = image_mobile.width | divided_by: image_mobile.aspect_ratio
            assign image_mobile_class = 'mobile-image'
            assign sizes_mobile = '100vw'
          -%}
          {{
            image_mobile
            | image_url: width: 1500
            | image_tag:
              width: image_mobile.width,
              height: image_mobile_height,
              class: image_mobile_class,
              sizes: sizes_mobile,
              loading: loading,
              widths: '165, 265, 360, 535, 750, 1070, 1500, 1780, 2000, 3000',
              alt: image_mobile.alt
            | escape
          }}
        {% endunless %}
        {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
      {% else %}
        {% if section.settings.media_size == 'small' or section.settings.media_size == 'medium' %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag }}
        {% endif %}
      {% endif %}
      {%- for block in section.blocks -%}
        {%- if block.type == 'image' -%}
          <div class='block-image {{ block.settings.classes }}'>
            {%- liquid
              assign image_height = image.width | divided_by: block.settings.image.aspect_ratio
              assign image_class = ''
              assign sizes = '100%'
              assign loading = 'lazy'
            -%}
            {{
              block.settings.image
              | image_url: width: 750
              | image_tag:
                width: block.settings.image.width,
                height: image_height,
                class: image_class,
                sizes: sizes,
                loading: loading,
                widths: '165, 265, 360, 535, 750',
                alt: block.settings.image.alt
              | escape
            }}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
    {% if section.settings.mobile_overlay == true %}
      <style type='text/css'>
        @media screen and (max-width: 767px) {
          {{ sc_id }} .img-banner-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: {{ section.settings.mobile_overlay_color }};
            opacity: {{ section.settings.mobile_overlay_opacity }};
          }
        }
      </style>
      <div class='img-banner-overlay'></div>
      {%- if section.settings.banner_link != null -%}
        <style type='text/css'>
          {{ sc_id }} .img-banner-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            z-index: 2;
          }
        </style>
        <a
          class='img-banner-link'
          href='{{ section.settings.banner_link }}'
          title='{{ section.settings.banner_link_title }}'
        ></a>
      {%- endif -%}
    {% endif %}
    <div class='img-banner-block img-banner-content' style='z-index: 2; display: flex;'>
      <div class='img-banner-block-content'>
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              {%- assign unique_id = block.id | remove: '-' | remove: '_' -%}
              {% render 'tc-heading',
                title: block.settings.title,
                heading_level: block.settings.heading_level,
                heading_font: block.settings.heading_font,
                heading_size: block.settings.heading_size,
                heading_color: block.settings.heading_color,
                heading_color_inverse: block.settings.heading_color_inverse,
                heading_margin_top: block.settings.heading_margin_top,
                heading_margin_bottom: block.settings.heading_margin_bottom,
                heading_underline: block.settings.heading_underline,
                line_break_dot: block.settings.line_break_dot,
                link: section.settings.banner_link,
                block_id: unique_id
              %}
            {%- when 'text' -%}
              {%- assign unique_id = block.id | remove: '-' | remove: '_' -%}
              {% render 'tc-paragraph',
                text: block.settings.paragraph,
                text_font: block.settings.paragraph_font,
                text_style: block.settings.paragraph_style,
                text_color: block.settings.paragraph_color,
                text_color_inverse: block.settings.paragraph_color_inverse,
                text_margin_top: block.settings.paragraph_margin_top,
                text_margin_bottom: block.settings.paragraph_margin_bottom,
                block_id: unique_id
              %}
            {%- when 'button' -%}
              {%- assign unique_id = block.id | remove: '-' | remove: '_' -%}
              {% render 'tc-button',
                button_text: block.settings.button_text,
                button_type: block.settings.button_type,
                button_attributes: block.settings.button_attributes,
                button_classes: block.settings.button_style,
                button_color_inverse: block.settings.button_color_inverse,
                icon: block.settings.button_icon,
                button_margin_top: block.settings.button_margin_top,
                button_margin_bottom: block.settings.button_margin_bottom,
                full_width: block.settings.full_width,
                disabled: block.settings.disabled,
                block_id: unique_id
              %}
            {%- when 'link' -%}
              {%- assign unique_id = block.id | remove: '-' | remove: '_' -%}
              {% render 'tc-link',
                link_text: block.settings.link_text,
                link_url: block.settings.link_url,
                new_tab: block.settings.new_tab,
                link_classes: block.settings.link_style,
                link_color_inverse: block.settings.link_color_inverse,
                icon: block.settings.link_icon,
                link_margin_top: block.settings.link_margin_top,
                link_margin_bottom: block.settings.link_margin_bottom,
                full_width: block.settings.full_width,
                disabled: block.settings.disabled,
                block_id: unique_id
              %}
            {%- when 'countdown' -%}
              <div class='countdown__box countdown-in-banner {{ block.settings.css_class }}'>
                {% render 'countdown',
                  unique_id: unique_id,
                  year: block.settings.end_date_year,
                  month: block.settings.end_date_month,
                  day: block.settings.end_date_day,
                  hour: block.settings.end_date_hour,
                  minute: block.settings.end_date_minute,
                  text_end: block.settings.ended_timer_text,
                  margin_top: block.settings.margin_top,
                  margin_bottom: block.settings.margin_bottom,
                  font_size: block.settings.font_size,
                  font_size_mobile: block.settings.font_size_mobile
                %}
                {% if block.settings.enable_exclusions %}
                  <br>
                  <span
                    class='exclusions exclusions-coutdown'
                    style='margin-left: auto;margin-right: auto;display: block;text-align: center;width:fit-content;'
                    >exclusions apply</span
                  >
                  <div
                    class='tooltip tooltip-coutdown'
                    style='
                          display: none;
                          width: 320px;
                          position: absolute;
                          border-top: none;
                          border-right: none;
                          border-left: none;
                          border-image: initial;
                          padding: 10px;
                          background-color: white;
                          right: 50%;
                          top: 16rem;
                          z-index: 2;
                          border: 1px solid var(--brand-gray);
                          transform: translateX(50%);
                      }
                    '
                  >
                    <b>{{ block.settings.exclusions_title }}</b>
                    <br>
                    {{ block.settings.exclusions_content }}
                  </div>
                {% endif %}
              </div>
            {%- when 'tooltip' -%}
              {% render 'tooltip',
                tooltip_id: block.id,
                tooltip_width: '380px',
                tooltip_label: block.settings.tooltip_label,
                tooltip_text: block.settings.tooltip_text,
                tooltip_text_size: block.settings.tooltip_text_size,
                tooltip_text_weight: block.settings.tooltip_text_weight,
                tooltip_color: block.settings.tooltip_color,
                tooltip_color_inverse: block.settings.tooltip_color_inverse,
                tooltip_bg_color: block.settings.tooltip_bg_color,
                tooltip_overlay: true,
                tooltip_overlay_color: block.settings.tooltip_overlay_color,
                tooltip_overlay_opacity: 0.55,
                min_breakpoint: min_breakpoint,
                max_breakpoint: max_breakpoint
              %}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endif %}

{% comment %} SCHEMA {% endcomment %}

{% schema %}
{
  "name": "TC Grid Banner",
  "tag": "section",
  "class": "section section-img-banner",
  "settings": [
    {
      "type": "header",
      "content": "Geolocation"
    },
    {
      "type": "text",
      "id": "country_code",
      "label": "Country code",
      "info": "Enter the country code for the country you want to show the banner to. You can have multiple country codes, just separate them with a comma. Example: US,CA,GB. Leave empty to show to all countries."
    },
    {
      "type": "text",
      "id": "exclude_country_code",
      "label": "Exclude country code",
      "info": "Enter the country code for the countries you DON'T want to show the banner to. You can have multiple country codes, just separate them with a comma. Example: US,CA,GB"
    },
    {
      "type": "header",
      "content": "Section specific"
    },
    {
      "type": "checkbox",
      "id": "hidden",
      "label": "Hide for test",
      "default": false
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Section layout",
      "info": "In this section you can edit section specific attributes. Feel free to play around and test different combinations!"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section full width",
      "default": true
    },
    {
      "type": "range",
      "id": "breakpoint",
      "min": 480,
      "max": 1200,
      "step": 8,
      "unit": "px",
      "label": "Layout Breakpoint",
      "default": 768
    },
    {
      "type": "range",
      "id": "section_max_width",
      "min": 1000,
      "max": 4000,
      "step": 100,
      "unit": "px",
      "label": "Section width (Desktop)",
      "info": "Section width (Desktop)",
      "default": 4000
    },
    {
      "type": "select",
      "id": "section_height",
      "options": [
        {
          "value": "full",
          "label": "Full screen"
        },
        {
          "value": "adapt",
          "label": "Adapt"
        },
        {
          "value": "1200",
          "label": "X-large"
        },
        {
          "value": "990",
          "label": "Large"
        },
        {
          "value": "700",
          "label": "Medium"
        },
        {
          "value": "550",
          "label": "Small"
        }
      ],
      "default": "adapt",
      "label": "Section height"
    },
    {
      "type": "select",
      "id": "media_position",
      "options": [
        {
          "value": "normal",
          "label": "Left"
        },
        {
          "value": "reverse",
          "label": "Right"
        },
        {
          "value": "unset",
          "label": "Unset (When media size is 100%)"
        }
      ],
      "default": "reverse",
      "label": "Media position"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "30%"
        },
        {
          "value": "medium",
          "label": "50%"
        },
        {
          "value": "large",
          "label": "70%"
        },
        {
          "value": "full",
          "label": "100%"
        }
      ],
      "default": "medium",
      "label": "Media size"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Full section link"
    },
    {
      "type": "text",
      "id": "banner_link_title",
      "label": "Banner link titlle",
      "default": "True Classic® Sale"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section inner padding"
    },
    {
      "type": "range",
      "id": "inner_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "inner_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    },
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "range",
      "id": "aspect_ratio",
      "min": 50,
      "max": 150,
      "step": 1,
      "unit": "%",
      "label": "Aspect Ratio",
      "default": 50
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "section_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "section_image_mobile",
      "label": "Image mobile"
    },
    {
      "type": "header",
      "content": "Media options",
      "info": "Image margins options. (desktop only)"
    },
    {
      "type": "range",
      "id": "media_margin_left",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Media margin left",
      "default": 0
    },
    {
      "type": "range",
      "id": "media_margin_right",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Media margin right",
      "default": 0
    },
    {
      "type": "range",
      "id": "media_margin_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Media margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "media_margin_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Media margin bottom",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "enable_lazyload",
      "default": false,
      "label": "Enable lazy loading",
      "info": "Do not enable if section is above the fold for performance."
    },
    {
      "type": "header",
      "content": "Content",
      "info": "Content input and settings."
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 5,
      "max": 100,
      "step": 5,
      "unit": "vw",
      "label": "Content width",
      "default": 40
    },
    {
      "type": "checkbox",
      "id": "content_fit",
      "label": "Enable fit content",
      "info": "This options will override previous content width option.",
      "default": false
    },
    {
      "type": "select",
      "id": "text_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Content alignment (desktop)"
    },
    {
      "type": "select",
      "id": "text_position_mobile",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content alignment (mobile)"
    },
    {
      "type": "select",
      "id": "content_padding_dt",
      "options": [
        {
          "value": "0",
          "label": "None"
        },
        {
          "value": "1",
          "label": "Small"
        },
        {
          "value": "2",
          "label": "Medium"
        },
        {
          "value": "3",
          "label": "Large"
        }
      ],
      "default": "0",
      "label": "Content padding (desktop)"
    },
    {
      "type": "select",
      "id": "content_padding_mb",
      "options": [
        {
          "value": "0",
          "label": "None"
        },
        {
          "value": "1",
          "label": "Small"
        },
        {
          "value": "2",
          "label": "Medium"
        },
        {
          "value": "3",
          "label": "Large"
        }
      ],
      "default": "0",
      "label": "Content padding (mobile)"
    },
    {
      "type": "paragraph",
      "content": "Enable to let you position the content anywhere in the section container."
    },
    {
      "type": "checkbox",
      "id": "enable_absolute",
      "default": false,
      "label": "Absolute positioning"
    },
    {
      "type": "paragraph",
      "content": "Vertical positioning, select either to set distance from the top or bottom of the container."
    },
    {
      "type": "checkbox",
      "id": "enable_distance_top",
      "default": true,
      "label": "Enable distance top"
    },
    {
      "type": "range",
      "id": "content_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Distance top",
      "default": 50
    },
    {
      "type": "range",
      "id": "content_top_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Distance top mobile",
      "default": 50
    },
    {
      "type": "checkbox",
      "id": "enable_distance_bottom",
      "default": false,
      "label": "Enable distance bottom"
    },
    {
      "type": "range",
      "id": "content_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Distance bottom",
      "default": 50
    },
    {
      "type": "paragraph",
      "content": "Horizontal positioning, select either to set distance from the left or right of the container."
    },
    {
      "type": "checkbox",
      "id": "enable_distance_left",
      "default": true,
      "label": "Enable distance left"
    },
    {
      "type": "range",
      "id": "content_left",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Distance left",
      "default": 50
    },
    {
      "type": "checkbox",
      "id": "enable_distance_right",
      "default": false,
      "label": "Enable distance right"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "range",
      "id": "content_right",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Distance right",
      "default": 50
    },
    {
      "type": "select",
      "id": "mobile_positioning",
      "options": [
        {
          "value": "overlay",
          "label": "Centered over media"
        },
        {
          "value": "after",
          "label": "Block"
        },
        {
          "value": "unset",
          "label": "Unset (experimental)"
        }
      ],
      "default": "after",
      "label": "Mobile positioning"
    },
    {
      "type": "checkbox",
      "id": "reverse_mobile",
      "default": true,
      "label": "Reverse order (mobile)",
      "info": "Works when mobile positioning is set to block, it will show before or after the media."
    },
    {
      "type": "checkbox",
      "id": "mobile_overlay",
      "label": "Overlay on mobile",
      "default": true
    },
    {
      "type": "color",
      "id": "mobile_overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "mobile_overlay_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "op",
      "label": "Overlay opacity",
      "default": 0.5
    },
    {
      "type": "checkbox",
      "id": "enable_prime_style",
      "default": false,
      "label": "Prime Deals"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Header",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Heading text",
          "default": "True Classic"
        },
        {
          "type": "select",
          "id": "heading_level",
          "options": [
            {
              "value": "h1",
              "label": "Level 1"
            },
            {
              "value": "h2",
              "label": "Level 2"
            },
            {
              "value": "h3",
              "label": "Level 3"
            },
            {
              "value": "h4",
              "label": "Level 4"
            },
            {
              "value": "h5",
              "label": "Level 5"
            },
            {
              "value": "h6",
              "label": "Level 6"
            },
            {
              "value": "span",
              "label": "Span"
            }
          ],
          "default": "h2",
          "label": "Heading level"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h0",
              "label": "XX Large"
            },
            {
              "value": "h1",
              "label": "X Large"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h3",
              "label": "Base"
            },
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h5",
              "label": "X Small"
            },
            {
              "value": "h6",
              "label": "XX Small"
            }
          ],
          "default": "h2",
          "label": "Heading size"
        },
        {
          "type": "select",
          "id": "heading_font",
          "options": [
            {
              "value": "staff-x-condensed-type",
              "label": "Staff X Condensed"
            },
            {
              "value": "modernist-type",
              "label": "Modernist"
            },
            {
              "value": "modernist-mono-type",
              "label": "Modernist Mono"
            },
            {
              "value": "roboto-mono-type",
              "label": "Roboto Mono"
            },
            {
              "value": "montserrat-type",
              "label": "Montserrat"
            }
          ],
          "default": "staff-x-condensed-type",
          "label": "Heading font family"
        },
        {
          "type": "select",
          "id": "heading_color",
          "options": [
            {
              "value": "color-white",
              "label": "White"
            },
            {
              "value": "color-black",
              "label": "Black"
            },
            {
              "value": "color-chocolate",
              "label": "Chocolate"
            },
            {
              "value": "color-chocolate-light",
              "label": "Chocolate Light"
            },
            {
              "value": "color-chocolate-mid",
              "label": "Chocolate Medium"
            },
            {
              "value": "color-chocolate-dark",
              "label": "Chocolate Dark"
            },
            {
              "value": "color-milk-chocolate",
              "label": "Milk Chocolate"
            },
            {
              "value": "color-shitake",
              "label": "Shitake"
            },
            {
              "value": "color-sage",
              "label": "Sage"
            },
            {
              "value": "color-sage-light",
              "label": "Sage light"
            },
            {
              "value": "color-cream",
              "label": "Cream"
            },
            {
              "value": "color-cream-light",
              "label": "Cream Light"
            },
            {
              "value": "color-yellow",
              "label": "Yellow"
            },
            {
              "value": "color-red",
              "label": "Red"
            }
          ],
          "default": "color-chocolate",
          "label": "Heading color"
        },
        {
          "type": "checkbox",
          "id": "heading_color_inverse",
          "label": "Light colors on mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "heading_margin_top",
          "options": [
            {
              "value": "mg-t-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-t-xl",
              "label": "X Large"
            },
            {
              "value": "mg-t-l",
              "label": "Large"
            },
            {
              "value": "mg-t-m",
              "label": "Medium"
            },
            {
              "value": "mg-t-s",
              "label": "Small"
            },
            {
              "value": "mg-t-xs",
              "label": "X Small"
            },
            {
              "value": "mg-t-none",
              "label": "No margin"
            }
          ],
          "default": "mg-t-none",
          "label": "Heading margin top"
        },
        {
          "type": "select",
          "id": "heading_margin_bottom",
          "options": [
            {
              "value": "mg-b-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-b-xl",
              "label": "X Large"
            },
            {
              "value": "mg-b-l",
              "label": "Large"
            },
            {
              "value": "mg-b-m",
              "label": "Medium"
            },
            {
              "value": "mg-b-s",
              "label": "Small"
            },
            {
              "value": "mg-b-xs",
              "label": "X Small"
            },
            {
              "value": "mg-b-none",
              "label": "No margin"
            }
          ],
          "default": "mg-b-m",
          "label": "Heading margin bottom"
        },
        {
          "type": "checkbox",
          "id": "heading_underline",
          "label": "Underline",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "line_break_dot",
          "label": "Break line only at dots",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "Rich Text",
      "settings": [
        {
          "id": "paragraph",
          "type": "richtext",
          "label": "Paragraph text",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>"
        },
        {
          "type": "select",
          "id": "paragraph_font",
          "options": [
            {
              "value": "staff-x-condensed-type",
              "label": "Staff X Condensed"
            },
            {
              "value": "modernist-type",
              "label": "Modernist"
            },
            {
              "value": "modernist-mono-type",
              "label": "Modernist Mono"
            },
            {
              "value": "roboto-mono-type",
              "label": "Roboto Mono"
            },
            {
              "value": "montserrat-type",
              "label": "Montserrat"
            }
          ],
          "default": "modernist-type",
          "label": "Paragraph font family"
        },
        {
          "type": "select",
          "id": "paragraph_style",
          "options": [
            {
              "value": "xxl",
              "label": "XX Large"
            },
            {
              "value": "xl",
              "label": "X Large"
            },
            {
              "value": "l",
              "label": "Large"
            },
            {
              "value": "m",
              "label": "Base"
            },
            {
              "value": "s",
              "label": "Small"
            },
            {
              "value": "xs",
              "label": "X Small"
            },
            {
              "value": "xxs",
              "label": "XX Small"
            }
          ],
          "default": "m",
          "label": "Paragraph size"
        },
        {
          "type": "select",
          "id": "paragraph_color",
          "options": [
            {
              "value": "color-white",
              "label": "White"
            },
            {
              "value": "color-black",
              "label": "Black"
            },
            {
              "value": "color-chocolate",
              "label": "Chocolate"
            },
            {
              "value": "color-chocolate-light",
              "label": "Chocolate Light"
            },
            {
              "value": "color-chocolate-mid",
              "label": "Chocolate Medium"
            },
            {
              "value": "color-chocolate-dark",
              "label": "Chocolate Dark"
            },
            {
              "value": "color-milk-chocolate",
              "label": "Milk Chocolate"
            },
            {
              "value": "color-shitake",
              "label": "Shitake"
            },
            {
              "value": "color-sage",
              "label": "Sage"
            },
            {
              "value": "color-sage-light",
              "label": "Sage light"
            },
            {
              "value": "color-cream",
              "label": "Cream"
            },
            {
              "value": "color-cream-light",
              "label": "Cream Light"
            },
            {
              "value": "color-yellow",
              "label": "Yellow"
            },
            {
              "value": "color-red",
              "label": "Red"
            }
          ],
          "default": "color-chocolate",
          "label": "Paragraph color"
        },
        {
          "type": "checkbox",
          "id": "paragraph_color_inverse",
          "label": "Light colors on mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "paragraph_margin_top",
          "options": [
            {
              "value": "mg-t-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-t-xl",
              "label": "X Large"
            },
            {
              "value": "mg-t-l",
              "label": "Large"
            },
            {
              "value": "mg-t-m",
              "label": "Medium"
            },
            {
              "value": "mg-t-s",
              "label": "Small"
            },
            {
              "value": "mg-t-xs",
              "label": "X Small"
            },
            {
              "value": "mg-t-none",
              "label": "No margin"
            }
          ],
          "default": "mg-t-none",
          "label": "Paragraph margin top"
        },
        {
          "type": "select",
          "id": "paragraph_margin_bottom",
          "options": [
            {
              "value": "mg-b-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-b-xl",
              "label": "X Large"
            },
            {
              "value": "mg-b-l",
              "label": "Large"
            },
            {
              "value": "mg-b-m",
              "label": "Medium"
            },
            {
              "value": "mg-b-s",
              "label": "Small"
            },
            {
              "value": "mg-b-xs",
              "label": "X Small"
            },
            {
              "value": "mg-b-none",
              "label": "No margin"
            }
          ],
          "default": "mg-b-m",
          "label": "Paragraph margin bottom"
        }
      ]
    },
    {
      "type": "link",
      "name": "Button (link)",
      "settings": [
        {
          "id": "link_text",
          "type": "text",
          "label": "Link Label",
          "default": "Shop Now"
        },
        {
          "id": "link_url",
          "type": "url",
          "label": "Link URL"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open link in new tab",
          "default": false
        },
        {
          "type": "select",
          "id": "link_style",
          "options": [
            {
              "value": "primary",
              "label": "Primary (Brown)"
            },
            {
              "value": "primary inverse",
              "label": "Primary Inverse"
            },

            {
              "value": "primary black",
              "label": "Primary Black"
            },
            {
              "value": "primary wood",
              "label": "Primary wood"
            },
            {
              "value": "primary red",
              "label": "Primary (Red)"
            },
            {
              "value": "secondary",
              "label": "Secondary (outlined)"
            },
            {
              "value": "tertiary",
              "label": "Tertiary (inline)"
            }
          ],
          "default": "primary",
          "label": "Link style"
        },
        {
          "type": "checkbox",
          "id": "link_color_inverse",
          "label": "Light colors on mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "link_icon",
          "options": [
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "arrow-right",
              "label": "Right arrow"
            },
            {
              "value": "arrow-left",
              "label": "Left arrow"
            },
            {
              "value": "plus",
              "label": "Plus sign"
            },
            {
              "value": "down",
              "label": "Down caret"
            },
            {
              "value": "up",
              "label": "Up caret"
            },
            {
              "value": "left",
              "label": "Left caret"
            },
            {
              "value": "right",
              "label": "Right caret"
            },
            {
              "value": "fit",
              "label": "Fit"
            },
            {
              "value": "chart",
              "label": "Chart"
            },
            {
              "value": "play",
              "label": "Play"
            },
            {
              "value": "none",
              "label": "None"
            }
          ],
          "default": "arrow-right",
          "label": "Link icon"
        },
        {
          "type": "select",
          "id": "link_margin_top",
          "options": [
            {
              "value": "mg-t-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-t-xl",
              "label": "X Large"
            },
            {
              "value": "mg-t-l",
              "label": "Large"
            },
            {
              "value": "mg-t-m",
              "label": "Medium"
            },
            {
              "value": "mg-t-s",
              "label": "Small"
            },
            {
              "value": "mg-t-xs",
              "label": "X Small"
            },
            {
              "value": "mg-t-none",
              "label": "No margin"
            }
          ],
          "default": "mg-t-none",
          "label": "Link margin top"
        },
        {
          "type": "select",
          "id": "link_margin_bottom",
          "options": [
            {
              "value": "mg-b-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-b-xl",
              "label": "X Large"
            },
            {
              "value": "mg-b-l",
              "label": "Large"
            },
            {
              "value": "mg-b-m",
              "label": "Medium"
            },
            {
              "value": "mg-b-s",
              "label": "Small"
            },
            {
              "value": "mg-b-xs",
              "label": "X Small"
            },
            {
              "value": "mg-b-none",
              "label": "No margin"
            }
          ],
          "default": "mg-b-m",
          "label": "Link margin bottom"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Link full width",
          "default": false
        },
        {
          "id": "disabled",
          "type": "checkbox",
          "label": "Disabled",
          "default": false
        }
      ]
    },
    {
      "type": "button",
      "name": "Button (button)",
      "settings": [
        {
          "id": "button_text",
          "type": "text",
          "label": "Button label",
          "default": "Checkout"
        },
        {
          "type": "select",
          "id": "button_type",
          "options": [
            {
              "value": "checkout",
              "label": "Checkout button"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ],
          "default": "custom",
          "label": "Button type"
        },
        {
          "type": "text",
          "id": "button_attributes",
          "label": "Button attributes",
          "default": "data-attribute=\"value\"",
          "info": "(when button type  is 'custom') Add attributes to the button element. For example: data-foo=\"bar\""
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "Primary (Brown)"
            },
            {
              "value": "primary inverse",
              "label": "Primary Inverse"
            },

            {
              "value": "primary black",
              "label": "Primary Black"
            },
            {
              "value": "primary wood",
              "label": "Primary wood"
            },
            {
              "value": "primary red",
              "label": "Primary (Red)"
            },
            {
              "value": "secondary",
              "label": "Secondary (outlined)"
            },
            {
              "value": "tertiary",
              "label": "Tertiary (inline)"
            }
          ],
          "default": "primary red",
          "label": "Button style"
        },
        {
          "type": "checkbox",
          "id": "button_color_inverse",
          "label": "Light colors on mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "button_icon",
          "options": [
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "arrow-right",
              "label": "Right arrow"
            },
            {
              "value": "arrow-left",
              "label": "Left arrow"
            },
            {
              "value": "plus",
              "label": "Plus sign"
            },
            {
              "value": "down",
              "label": "Down caret"
            },
            {
              "value": "up",
              "label": "Up caret"
            },
            {
              "value": "left",
              "label": "Left caret"
            },
            {
              "value": "right",
              "label": "Right caret"
            },
            {
              "value": "fit",
              "label": "Fit"
            },
            {
              "value": "chart",
              "label": "Chart"
            },
            {
              "value": "play",
              "label": "Play"
            },
            {
              "value": "none",
              "label": "None"
            }
          ],
          "default": "arrow-right",
          "label": "Button icon"
        },
        {
          "type": "select",
          "id": "button_margin_top",
          "options": [
            {
              "value": "mg-t-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-t-xl",
              "label": "X Large"
            },
            {
              "value": "mg-t-l",
              "label": "Large"
            },
            {
              "value": "mg-t-m",
              "label": "Medium"
            },
            {
              "value": "mg-t-s",
              "label": "Small"
            },
            {
              "value": "mg-t-xs",
              "label": "X Small"
            },
            {
              "value": "mg-t-none",
              "label": "No margin"
            }
          ],
          "default": "mg-t-none",
          "label": "Button margin top"
        },
        {
          "type": "select",
          "id": "button_margin_bottom",
          "options": [
            {
              "value": "mg-b-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-b-xl",
              "label": "X Large"
            },
            {
              "value": "mg-b-l",
              "label": "Large"
            },
            {
              "value": "mg-b-m",
              "label": "Medium"
            },
            {
              "value": "mg-b-s",
              "label": "Small"
            },
            {
              "value": "mg-b-xs",
              "label": "X Small"
            },
            {
              "value": "mg-b-none",
              "label": "No margin"
            }
          ],
          "default": "mg-b-m",
          "label": "Button margin bottom"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Button full width",
          "default": false
        },
        {
          "id": "disabled",
          "type": "checkbox",
          "label": "Disabled",
          "default": false
        }
      ]
    },
    {
      "type": "tooltip",
      "name": "Tooltip",
      "settings": [
        {
          "type": "header",
          "content": "Tooltip label options"
        },
        {
          "type": "text",
          "id": "tooltip_label",
          "label": "Tooltip label"
        },
        {
          "type": "select",
          "id": "tooltip_font",
          "options": [
            {
              "value": "staff-x",
              "label": "Staff X"
            },
            {
              "value": "modernist",
              "label": "Modernist"
            },
            {
              "value": "mono",
              "label": "Modernist Mono"
            },
            {
              "value": "alkaline",
              "label": "Alkaline"
            },
            {
              "value": "chakra",
              "label": "Chakra"
            },
            {
              "value": "roboto-mono",
              "label": "Roboto Mono"
            }
          ],
          "default": "staff-x",
          "label": "Font"
        },
        {
          "type": "select",
          "id": "tooltip_color",
          "options": [
            {
              "value": "var(--brand-white)",
              "label": "Light"
            },
            {
              "value": "var(--brand-black)",
              "label": "Dark"
            },
            {
              "value": "var(--brand-yellow)",
              "label": "Yellow"
            },
            {
              "value": "var(--brand-red)",
              "label": "Red"
            }
          ],
          "default": "var(--brand-white)",
          "label": "Tooltip Color"
        },
        {
          "type": "select",
          "id": "tooltip_overlay_color",
          "options": [
            {
              "value": "255, 255, 255",
              "label": "Light"
            },
            {
              "value": "28, 28, 28",
              "label": "Dark"
            }
          ],
          "default": "28, 28, 28",
          "label": "Tooltip Overlay Color"
        },
        {
          "type": "select",
          "id": "tooltip_bg_color",
          "options": [
            {
              "value": "var(--brand-white)",
              "label": "Light"
            },
            {
              "value": "var(--brand-black)",
              "label": "Dark"
            },
            {
              "value": "var(--brand-yellow)",
              "label": "Yellow"
            },
            {
              "value": "var(--brand-red)",
              "label": "Red"
            }
          ],
          "default": "var(--brand-white)",
          "label": "Tooltip BG Color"
        },
        {
          "type": "checkbox",
          "id": "tooltip_color_inverse",
          "label": "Light colors on mobile",
          "default": true
        },
        {
          "type": "range",
          "id": "tooltip_size",
          "min": 0.4,
          "max": 4,
          "step": 0.2,
          "unit": "rem",
          "label": "Tooltip size",
          "default": 1.6
        },
        {
          "type": "select",
          "id": "tooltip_weight",
          "options": [
            {
              "value": "200",
              "label": "Thin"
            },
            {
              "value": "400",
              "label": "Normal"
            },
            {
              "value": "700",
              "label": "Bold"
            }
          ],
          "label": "Tooltip style",
          "default": "400"
        },
        {
          "type": "header",
          "content": "Tooltip content options"
        },
        {
          "type": "richtext",
          "id": "tooltip_text",
          "label": "Tooltip content"
        },
        {
          "type": "color",
          "id": "tooltip_background_color",
          "label": "Tooltip background color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "tooltip_content_color",
          "label": "Tooltip text color",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "icons",
      "name": "Icons",
      "settings": [
        {
          "type": "select",
          "id": "icons_color",
          "options": [
            {
              "value": "brand-white",
              "label": "Light"
            },
            {
              "value": "brand-black",
              "label": "Dark"
            },
            {
              "value": "brand-yellow",
              "label": "Yellow"
            },
            {
              "value": "brand-red",
              "label": "Red"
            }
          ],
          "default": "brand-white",
          "label": "Icons color"
        },
        {
          "type": "select",
          "id": "icons_label_font",
          "options": [
            {
              "value": "staff-x",
              "label": "Staff X"
            },
            {
              "value": "modernist",
              "label": "Modernist"
            },
            {
              "value": "mono",
              "label": "Modernist Mono"
            },
            {
              "value": "roboto",
              "label": "Roboto"
            },
            {
              "value": "alkaline",
              "label": "Alkaline"
            },
            {
              "value": "chakra",
              "label": "Chakra"
            },
            {
              "value": "roboto-mono",
              "label": "Roboto Mono"
            }
          ],
          "default": "roboto-mono",
          "label": "Font"
        },
        {
          "type": "checkbox",
          "id": "icon_shirt",
          "default": true,
          "label": "Enable Shirt Icon"
        },
        {
          "type": "text",
          "id": "icon_shirt_label",
          "label": "Shirt Icon Label"
        },
        {
          "type": "checkbox",
          "id": "icon_soft",
          "default": true,
          "label": "Enable Soft Icon"
        },
        {
          "type": "text",
          "id": "icon_soft_label",
          "label": "Soft Icon Label"
        },
        {
          "type": "checkbox",
          "id": "icon_washing",
          "default": true,
          "label": "Enable Washing Machine Icon"
        },
        {
          "type": "text",
          "id": "icon_washing_label",
          "label": "Washing Machine Icon Label"
        },
        {
          "type": "checkbox",
          "id": "icon_price",
          "default": true,
          "label": "Enable Price Icon"
        },
        {
          "type": "text",
          "id": "icon_price_label",
          "label": "Price Icon Label"
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "select",
          "id": "icons_margin_bottom",
          "options": [
            {
              "value": "0",
              "label": "none"
            },
            {
              "value": "1",
              "label": "1 rem"
            },
            {
              "value": "2",
              "label": "2 rem"
            },
            {
              "value": "3",
              "label": "3 rem"
            },
            {
              "value": "4",
              "label": "4 rem"
            }
          ],
          "default": "2",
          "label": "Margin bottom"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "classes",
          "label": "Classes"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "Countdown",
      "settings": [
        {
          "type": "text",
          "id": "end_date_year",
          "label": "Year",
          "default": "2025"
        },
        {
          "type": "select",
          "id": "end_date_month",
          "options": [
            {
              "value": "January",
              "label": "January"
            },
            {
              "value": "February",
              "label": "February"
            },
            {
              "value": "March",
              "label": "March"
            },
            {
              "value": "April",
              "label": "April"
            },
            {
              "value": "May",
              "label": "May"
            },
            {
              "value": "June",
              "label": "June"
            },
            {
              "value": "July",
              "label": "July"
            },
            {
              "value": "August",
              "label": "August"
            },
            {
              "value": "September",
              "label": "September"
            },
            {
              "value": "October",
              "label": "October"
            },
            {
              "value": "November",
              "label": "November"
            },
            {
              "value": "December",
              "label": "December"
            }
          ],
          "default": "June",
          "label": "Month"
        },
        {
          "type": "number",
          "id": "end_date_day",
          "label": "Day",
          "default": 1
        },
        {
          "type": "number",
          "id": "end_date_hour",
          "label": "Hour",
          "default": 12,
          "info": "Military time (00-24)"
        },
        {
          "type": "number",
          "id": "end_date_minute",
          "label": "Minute",
          "default": 59
        },
        {
          "type": "text",
          "id": "ended_timer_text",
          "label": "Text when timer has ended",
          "default": "This offer has ended."
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 0,
          "max": 5,
          "step": 0.2,
          "unit": "rem",
          "label": "Font size",
          "default": 2.4
        },
        {
          "type": "range",
          "id": "font_size_mobile",
          "min": 0,
          "max": 5,
          "step": 0.2,
          "unit": "rem",
          "label": "Font size mobile",
          "default": 2
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin top",
          "default": 10
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin bottom",
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "enable_exclusions",
          "label": "Enable Exclusions",
          "default": true
        },
        {
          "type": "text",
          "id": "exclusions_title",
          "label": "Exclusion title",
          "default": "40% CashBack Terms and Conditions"
        },
        {
          "type": "html",
          "id": "exclusions_content",
          "label": "Exclusion content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TC Grid Banner",
      "settings": {},
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
