{%- liquid
  assign country_codes = section.settings.country_code | split: ','
  assign exclude_country_codes = section.settings.exclude_country_code | split: ','
  assign should_show_banner = false

  if section.settings.country_code == '' and section.settings.exclude_country_code == ''
    assign should_show_banner = true
  else
    assign is_excluded = false
    for exclude_code in exclude_country_codes
      if localization.country.iso_code == exclude_code
        assign is_excluded = true
        break
      endif
    endfor

    unless is_excluded
      if section.settings.country_code == ''
        assign should_show_banner = true
      else
        for code in country_codes
          if localization.country.iso_code == code
            assign should_show_banner = true
            break
          endif
        endfor
      endif
    endunless
  endif
-%}

{% if should_show_banner %}
  {%- liquid
    assign sc_id = '#shopify-section-' | append: section.id
    assign image_lg = section.settings.section_image_lg
    assign image_mb = section.settings.section_image_mb
    assign image_md = section.settings.section_image_md
    assign banner = '.two-img-banner-' | append: section.id
  -%}

  {% comment %} STYLES {% endcomment %}

  <style type='text/css'>
    {% comment %} ---# TOP LEVEL SECTION #--- {% endcomment %}

    {%- if section.settings.full_width != true -%}
      {{ sc_id }} {
        max-width: var(--container-width);
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.25rem;
        padding-left: var(--edge-space);
        padding-right: 1.25rem;
        padding-right: var(--edge-space);
      }
    {%- endif -%}

    {%- if section.settings.full_width == true -%}
      {{ sc_id }} {
        max-width: 100vw !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    {%- endif -%}

    {{ sc_id }} {
      padding-top: {{ section.settings.padding_top | times: 0.50 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.50 }}px;
    }

    @media screen and (min-width: 768px) {
      {{ sc_id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

    {{ banner }} {
      padding-top: {{ section.settings.inner_padding_top | times: 0.50 }}px;
      padding-bottom: {{ section.settings.inner_padding_bottom | times: 0.50 }}px;
    }

    @media screen and (min-width: 768px) {
      {{ banner }} {
        padding-top: {{ section.settings.inner_padding_top }}px;
        padding-bottom: {{ section.settings.inner_padding_bottom }}px;
      }
    }

    @media screen and (max-width: 768px) {
      {{ sc_id }}  .two-img-banner .banner-content .banner-content__inner {
        padding-left: {{ section.settings.content_spacing_mobile }}rem;
        padding-right: {{ section.settings.content_spacing_mobile }}rem;
        text-align: {{ section.settings.content_alignment_mobile }};
      }
    }
    @media screen and (min-width: 769px) {
      {{ sc_id }} .two-img-banner .banner-content .banner-content__inner {
        max-width: {{ section.settings.content_width_desktop }}px;
        text-align: {{ section.settings.content_alignment_desktop }};
      }
    }

    @media screen and (min-width: 990px) {
      {{ sc_id }} .two-img-banner .banner-media .media__lg {
        {% unless image_md == nil %}
          width: 60%;
        {% else %}
          width: 100%;
        {% endunless %}
      }
      {{ sc_id }} .two-img-banner .banner-media .media__md {
        width: auto!important;
      }
    }
    {{ sc_id }} .two-img-banner .button {
      display: block!important;
      {% if section.settings.content_alignment_desktop == 'center' %}
      margin-left: auto;
      margin-right: auto;
      {% endif %}
    }

    {{ sc_id }} .image-lg {
      display: none;
    }
    {{ sc_id }} .image-mb {
      display: block;
    }

    @media screen and (min-width: 990px) {
      {{ sc_id }} .image-lg {
        display: block;
      }
      {{ sc_id }} .image-mb {
        display: none;
      }
    }
  </style>

  {% comment %} CONTENT {% endcomment %}
  <div
    class='two-img-banner two-img-banner-{{ section.id }} {{ section.settings.international_banner }} {{ section.settings.class_test }}'
    style='background-color: {{ section.settings.section_bg_color }};{% if section.settings.hidden %} display: none;{% endif %}'
  >
    <div class='banner-media'>
      {% if image_lg != null %}
        <div class='media__lg'>
          {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
          {%- liquid
            assign image_lg_height = image_lg.width | divided_by: image_lg.aspect_ratio
            assign image_lg_class = 'image-lg'
            assign sizes_lg = '50vw'
            if section.settings.enable_lazyload
              assign loading = 'lazy'
            else
              assign loading = 'eager'
            endif
          -%}
          {{
            image_lg
            | image_url: width: 3000
            | image_tag:
              width: image_lg.width,
              height: image_lg_height,
              class: image_lg_class,
              sizes: sizes_lg,
              loading: loading,
              widths: '165, 265, 360, 535, 750, 1070, 1500, 1780, 2000, 3000, 3800',
              alt: image_lg.alt
            | escape
          }}
          {%- liquid
            assign image_mb_height = image_mb.width | divided_by: image_mb.aspect_ratio
            assign image_mb_class = 'image-mb'
            assign sizes_mb = '100vw'
            assign loading = 'eager'
          -%}
          {{
            image_mb
            | image_url: width: 3000
            | image_tag:
              width: image_mb.width,
              height: image_mb_height,
              class: image_mb_class,
              sizes: sizes_mb,
              loading: loading,
              widths: '165, 265, 360, 535, 750, 1070, 1500, 1780, 2000, 3000, 3800',
              alt: image_mb.alt
            | escape
          }}
        </div>
        {% unless image_md == null %}
          <div class='media__md'>
            {%- liquid
              assign image_md_height = image_md.width | divided_by: image_md.aspect_ratio
              assign image_md_class = 'image-md'
              assign sizes_md = '25vw'
            -%}
            {{
              image_md
              | image_url: width: 1500
              | image_tag:
                width: image_md.width,
                height: image_md_height,
                class: image_md_class,
                sizes: sizes_md,
                loading: loading,
                widths: '165, 265, 360, 535, 750, 1070, 1500, 1780, 2000, 3000',
                alt: image_md.alt
              | escape
            }}
          </div>
        {% endunless %}
        {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
      {% else %}
        <div class='media__lg'>
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        </div>
        <div class='media__md'>
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        </div>
      {% endif %}
    </div>
    {% if section.settings.overlay == true %}
      <style type='text/css'>
        {% if section.settings.overlay_is_mobile %}@media screen and (max-width: 769px) { {% endif %}
          {{ sc_id }} .img-overlay {
            background-color: {{ section.settings.overlay_color }};
            opacity: {{ section.settings.overlay_opacity }};
            top: 0;
            left: 1rem;
            width: calc(100% - 2rem);
            height: 100%;
            z-index: 1;
          }
        {% if section.settings.overlay_is_mobile %} } {% endif %}
      </style>
      <div class='img-overlay'></div>
    {% endif %}
    {%- if section.settings.banner_link != null -%}
      <style type='text/css'>
        {{ sc_id }} .banner-link {
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          z-index: 3;
        }
      </style>
      <a
        class='banner-link'
        href='{{ section.settings.banner_link }}'
        title='{{ section.settings.banner_link_title }}'
      ></a>
    {%- endif -%}
    <div class='banner-content' style='z-index: 2;'>
      <div class='banner-content__inner'>
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              {%- assign unique_id = block.id | remove: '-' | remove: '_' -%}
              {% render 'tc-heading',
                title: block.settings.title,
                heading_level: block.settings.heading_level,
                heading_font: block.settings.heading_font,
                heading_size: block.settings.heading_size,
                heading_color: block.settings.heading_color,
                heading_color_inverse: block.settings.heading_color_inverse,
                heading_margin_top: block.settings.heading_margin_top,
                heading_margin_bottom: block.settings.heading_margin_bottom,
                heading_underline: block.settings.heading_underline,
                line_break_dot: block.settings.line_break_dot,
                link: section.settings.banner_link,
                block_id: unique_id
              %}
            {%- when 'text' -%}
              {%- assign unique_id = block.id | remove: '-' | remove: '_' -%}
              {% render 'tc-paragraph',
                text: block.settings.paragraph,
                text_font: block.settings.paragraph_font,
                text_style: block.settings.paragraph_style,
                text_color: block.settings.paragraph_color,
                text_color_inverse: block.settings.paragraph_color_inverse,
                text_margin_top: block.settings.paragraph_margin_top,
                text_margin_bottom: block.settings.paragraph_margin_bottom,
                block_id: unique_id
              %}
            {%- when 'button' -%}
              {%- assign unique_id = block.id | remove: '-' | remove: '_' -%}
              {% render 'tc-button',
                button_text: block.settings.button_text,
                button_type: block.settings.button_type,
                button_attributes: block.settings.button_attributes,
                button_classes: block.settings.button_style,
                button_color_inverse: block.settings.button_color_inverse,
                icon: block.settings.button_icon,
                button_margin_top: block.settings.button_margin_top,
                button_margin_bottom: block.settings.button_margin_bottom,
                full_width: block.settings.full_width,
                disabled: block.settings.disabled,
                block_id: unique_id
              %}
            {%- when 'link' -%}
              {%- assign unique_id = block.id | remove: '-' | remove: '_' -%}
              {% render 'tc-link',
                link_text: block.settings.link_text,
                link_url: block.settings.link_url,
                new_tab: block.settings.new_tab,
                link_classes: block.settings.link_style,
                link_color_inverse: block.settings.link_color_inverse,
                icon: block.settings.link_icon,
                link_margin_top: block.settings.link_margin_top,
                link_margin_bottom: block.settings.link_margin_bottom,
                full_width: block.settings.full_width,
                disabled: block.settings.disabled,
                block_id: unique_id
              %}
            {%- when 'image' -%}
              {%- assign unique_id = block.id | remove: '-' | remove: '_' -%}
              <div class='block-image {{ block.settings.classes }}'>
                {%- liquid
                  assign image_height = image.width | divided_by: block.settings.image.aspect_ratio
                  assign image_class = ''
                  assign sizes = '100%'
                  assign loading = 'lazy'
                -%}
                {{
                  block.settings.image
                  | image_url: width: 750
                  | image_tag:
                    width: block.settings.image.width,
                    height: image_height,
                    class: image_class,
                    sizes: sizes,
                    loading: loading,
                    widths: '165, 265, 360, 535, 750',
                    alt: block.settings.image.alt
                  | escape
                }}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endif %}

{% comment %} SCHEMA {% endcomment %}

{% schema %}
{
  "name": "TC Two Image Banner",
  "tag": "section",
  "class": "section section-two-img-banner",
  "settings": [
    {
      "type": "header",
      "content": "Geolocation"
    },
    {
      "type": "text",
      "id": "country_code",
      "label": "Country code",
      "info": "Enter the country code for the country you want to show the banner to. You can have multiple country codes, just separate them with a comma. Example: US,CA,GB. Leave empty to show to all countries."
    },
    {
      "type": "text",
      "id": "exclude_country_code",
      "label": "Exclude country code",
      "info": "Enter the country code for the countries you DON'T want to show the banner to. You can have multiple country codes, just separate them with a comma. Example: US,CA,GB"
    },
    {
      "type": "header",
      "content": "Section specific"
    },
    {
      "type": "text",
      "id": "class_test",
      "default": "section-class",
      "label": "class for testing"
    },
    {
      "type": "checkbox",
      "id": "hidden",
      "label": "Hide for test",
      "default": false
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Section layout"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section full width",
      "default": true
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Full section link"
    },
    {
      "type": "text",
      "id": "banner_link_title",
      "label": "Banner link titlle",
      "default": "True Classic Sale®"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "inner_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "inner_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "section_image_lg",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "section_image_mb",
      "label": "Image Mobile"
    },
    {
      "type": "image_picker",
      "id": "section_image_md",
      "label": "Image 2"
    },
    {
      "type": "header",
      "content": "Content settings desktop"
    },
    {
      "type": "range",
      "id": "content_width_desktop",
      "min": 300,
      "max": 900,
      "step": 10,
      "unit": "px",
      "label": "Content width on desktop",
      "default": 480
    },
    {
      "type": "select",
      "id": "content_alignment_desktop",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Text alignment on desktop"
    },
    {
      "type": "header",
      "content": "Content settings mobile"
    },
    {
      "type": "range",
      "id": "content_spacing_mobile",
      "min": 0,
      "max": 10,
      "step": 0.1,
      "unit": "rem",
      "label": "Padding horizontal on mobile",
      "default": 1
    },
    {
      "type": "select",
      "id": "content_alignment_mobile",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Text alignment on mobile"
    },
    {
      "type": "header",
      "content": "Overlay settings"
    },
    {
      "type": "checkbox",
      "id": "overlay",
      "label": "Overlay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "overlay_is_mobile",
      "label": "Overlay on mobile only?",
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "op",
      "label": "Overlay opacity",
      "default": 0.4
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Header",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Heading text",
          "default": "True Classic®"
        },
        {
          "type": "select",
          "id": "heading_level",
          "options": [
            {
              "value": "h1",
              "label": "Level 1"
            },
            {
              "value": "h2",
              "label": "Level 2"
            },
            {
              "value": "h3",
              "label": "Level 3"
            },
            {
              "value": "h4",
              "label": "Level 4"
            },
            {
              "value": "h5",
              "label": "Level 5"
            },
            {
              "value": "h6",
              "label": "Level 6"
            },
            {
              "value": "span",
              "label": "Span"
            }
          ],
          "default": "h2",
          "label": "Heading level"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h0",
              "label": "XX Large"
            },
            {
              "value": "h1",
              "label": "X Large"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h3",
              "label": "Base"
            },
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h5",
              "label": "X Small"
            },
            {
              "value": "h6",
              "label": "XX Small"
            }
          ],
          "default": "h2",
          "label": "Heading size"
        },
        {
          "type": "select",
          "id": "heading_font",
          "options": [
            {
              "value": "staff-x-condensed-type",
              "label": "Staff X Condensed"
            },
            {
              "value": "modernist-type",
              "label": "Modernist"
            },
            {
              "value": "modernist-mono-type",
              "label": "Modernist Mono"
            },
            {
              "value": "roboto-mono-type",
              "label": "Roboto Mono"
            },
            {
              "value": "montserrat-type",
              "label": "Montserrat"
            }
          ],
          "default": "staff-x-condensed-type",
          "label": "Heading font family"
        },
        {
          "type": "select",
          "id": "heading_color",
          "options": [
            {
              "value": "color-white",
              "label": "White"
            },
            {
              "value": "color-black",
              "label": "Black"
            },
            {
              "value": "color-chocolate",
              "label": "Chocolate"
            },
            {
              "value": "color-chocolate-light",
              "label": "Chocolate Light"
            },
            {
              "value": "color-chocolate-mid",
              "label": "Chocolate Medium"
            },
            {
              "value": "color-chocolate-dark",
              "label": "Chocolate Dark"
            },
            {
              "value": "color-milk-chocolate",
              "label": "Milk Chocolate"
            },
            {
              "value": "color-shitake",
              "label": "Shitake"
            },
            {
              "value": "color-sage",
              "label": "Sage"
            },
            {
              "value": "color-sage-light",
              "label": "Sage light"
            },
            {
              "value": "color-cream",
              "label": "Cream"
            },
            {
              "value": "color-cream-light",
              "label": "Cream Light"
            },
            {
              "value": "color-yellow",
              "label": "Yellow"
            },
            {
              "value": "color-red",
              "label": "Red"
            }
          ],
          "default": "color-chocolate",
          "label": "Heading color"
        },
        {
          "type": "checkbox",
          "id": "heading_color_inverse",
          "label": "Light colors on mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "heading_margin_top",
          "options": [
            {
              "value": "mg-t-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-t-xl",
              "label": "X Large"
            },
            {
              "value": "mg-t-l",
              "label": "Large"
            },
            {
              "value": "mg-t-m",
              "label": "Medium"
            },
            {
              "value": "mg-t-s",
              "label": "Small"
            },
            {
              "value": "mg-t-xs",
              "label": "X Small"
            },
            {
              "value": "mg-t-none",
              "label": "No margin"
            }
          ],
          "default": "mg-t-none",
          "label": "Heading margin top"
        },
        {
          "type": "select",
          "id": "heading_margin_bottom",
          "options": [
            {
              "value": "mg-b-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-b-xl",
              "label": "X Large"
            },
            {
              "value": "mg-b-l",
              "label": "Large"
            },
            {
              "value": "mg-b-m",
              "label": "Medium"
            },
            {
              "value": "mg-b-s",
              "label": "Small"
            },
            {
              "value": "mg-b-xs",
              "label": "X Small"
            },
            {
              "value": "mg-b-none",
              "label": "No margin"
            }
          ],
          "default": "mg-b-m",
          "label": "Heading margin bottom"
        },
        {
          "type": "checkbox",
          "id": "heading_underline",
          "label": "Underline",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "line_break_dot",
          "label": "Break line only at dots",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "Rich Text",
      "settings": [
        {
          "id": "paragraph",
          "type": "richtext",
          "label": "Paragraph text",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>"
        },
        {
          "type": "select",
          "id": "paragraph_font",
          "options": [
            {
              "value": "staff-x-condensed-type",
              "label": "Staff X Condensed"
            },
            {
              "value": "modernist-type",
              "label": "Modernist"
            },
            {
              "value": "modernist-mono-type",
              "label": "Modernist Mono"
            },
            {
              "value": "roboto-mono-type",
              "label": "Roboto Mono"
            },
            {
              "value": "montserrat-type",
              "label": "Montserrat"
            }
          ],
          "default": "modernist-type",
          "label": "Paragraph font family"
        },
        {
          "type": "select",
          "id": "paragraph_style",
          "options": [
            {
              "value": "xxl",
              "label": "XX Large"
            },
            {
              "value": "xl",
              "label": "X Large"
            },
            {
              "value": "l",
              "label": "Large"
            },
            {
              "value": "m",
              "label": "Base"
            },
            {
              "value": "s",
              "label": "Small"
            },
            {
              "value": "xs",
              "label": "X Small"
            },
            {
              "value": "xxs",
              "label": "XX Small"
            }
          ],
          "default": "m",
          "label": "Paragraph size"
        },
        {
          "type": "select",
          "id": "paragraph_color",
          "options": [
            {
              "value": "color-white",
              "label": "White"
            },
            {
              "value": "color-black",
              "label": "Black"
            },
            {
              "value": "color-chocolate",
              "label": "Chocolate"
            },
            {
              "value": "color-chocolate-light",
              "label": "Chocolate Light"
            },
            {
              "value": "color-chocolate-mid",
              "label": "Chocolate Medium"
            },
            {
              "value": "color-chocolate-dark",
              "label": "Chocolate Dark"
            },
            {
              "value": "color-milk-chocolate",
              "label": "Milk Chocolate"
            },
            {
              "value": "color-shitake",
              "label": "Shitake"
            },
            {
              "value": "color-sage",
              "label": "Sage"
            },
            {
              "value": "color-sage-light",
              "label": "Sage light"
            },
            {
              "value": "color-cream",
              "label": "Cream"
            },
            {
              "value": "color-cream-light",
              "label": "Cream Light"
            },
            {
              "value": "color-yellow",
              "label": "Yellow"
            },
            {
              "value": "color-red",
              "label": "Red"
            }
          ],
          "default": "color-chocolate",
          "label": "Paragraph color"
        },
        {
          "type": "checkbox",
          "id": "paragraph_color_inverse",
          "label": "Light colors on mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "paragraph_margin_top",
          "options": [
            {
              "value": "mg-t-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-t-xl",
              "label": "X Large"
            },
            {
              "value": "mg-t-l",
              "label": "Large"
            },
            {
              "value": "mg-t-m",
              "label": "Medium"
            },
            {
              "value": "mg-t-s",
              "label": "Small"
            },
            {
              "value": "mg-t-xs",
              "label": "X Small"
            },
            {
              "value": "mg-t-none",
              "label": "No margin"
            }
          ],
          "default": "mg-t-none",
          "label": "Paragraph margin top"
        },
        {
          "type": "select",
          "id": "paragraph_margin_bottom",
          "options": [
            {
              "value": "mg-b-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-b-xl",
              "label": "X Large"
            },
            {
              "value": "mg-b-l",
              "label": "Large"
            },
            {
              "value": "mg-b-m",
              "label": "Medium"
            },
            {
              "value": "mg-b-s",
              "label": "Small"
            },
            {
              "value": "mg-b-xs",
              "label": "X Small"
            },
            {
              "value": "mg-b-none",
              "label": "No margin"
            }
          ],
          "default": "mg-b-m",
          "label": "Paragraph margin bottom"
        }
      ]
    },
    {
      "type": "link",
      "name": "Button (link)",
      "settings": [
        {
          "id": "link_text",
          "type": "text",
          "label": "Link Label",
          "default": "Shop Now"
        },
        {
          "id": "link_url",
          "type": "url",
          "label": "Link URL"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open link in new tab",
          "default": false
        },
        {
          "type": "select",
          "id": "link_style",
          "options": [
            {
              "value": "primary",
              "label": "Primary (Brown)"
            },
            {
              "value": "primary inverse",
              "label": "Primary Inverse"
            },

            {
              "value": "primary black",
              "label": "Primary Black"
            },
            {
              "value": "primary wood",
              "label": "Primary wood"
            },
            {
              "value": "primary red",
              "label": "Primary (Red)"
            },
            {
              "value": "secondary",
              "label": "Secondary (outlined)"
            },
            {
              "value": "tertiary",
              "label": "Tertiary (inline)"
            }
          ],
          "default": "primary",
          "label": "Link style"
        },
        {
          "type": "checkbox",
          "id": "link_color_inverse",
          "label": "Light colors on mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "link_icon",
          "options": [
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "arrow-right",
              "label": "Right arrow"
            },
            {
              "value": "arrow-left",
              "label": "Left arrow"
            },
            {
              "value": "plus",
              "label": "Plus sign"
            },
            {
              "value": "down",
              "label": "Down caret"
            },
            {
              "value": "up",
              "label": "Up caret"
            },
            {
              "value": "left",
              "label": "Left caret"
            },
            {
              "value": "right",
              "label": "Right caret"
            },
            {
              "value": "fit",
              "label": "Fit"
            },
            {
              "value": "chart",
              "label": "Chart"
            },
            {
              "value": "play",
              "label": "Play"
            },
            {
              "value": "none",
              "label": "None"
            }
          ],
          "default": "arrow-right",
          "label": "Link icon"
        },
        {
          "type": "select",
          "id": "link_margin_top",
          "options": [
            {
              "value": "mg-t-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-t-xl",
              "label": "X Large"
            },
            {
              "value": "mg-t-l",
              "label": "Large"
            },
            {
              "value": "mg-t-m",
              "label": "Medium"
            },
            {
              "value": "mg-t-s",
              "label": "Small"
            },
            {
              "value": "mg-t-xs",
              "label": "X Small"
            },
            {
              "value": "mg-t-none",
              "label": "No margin"
            }
          ],
          "default": "mg-t-none",
          "label": "Link margin top"
        },
        {
          "type": "select",
          "id": "link_margin_bottom",
          "options": [
            {
              "value": "mg-b-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-b-xl",
              "label": "X Large"
            },
            {
              "value": "mg-b-l",
              "label": "Large"
            },
            {
              "value": "mg-b-m",
              "label": "Medium"
            },
            {
              "value": "mg-b-s",
              "label": "Small"
            },
            {
              "value": "mg-b-xs",
              "label": "X Small"
            },
            {
              "value": "mg-b-none",
              "label": "No margin"
            }
          ],
          "default": "mg-b-m",
          "label": "Link margin bottom"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Link full width",
          "default": false
        },
        {
          "id": "disabled",
          "type": "checkbox",
          "label": "Disabled",
          "default": false
        }
      ]
    },
    {
      "type": "button",
      "name": "Button (button)",
      "settings": [
        {
          "id": "button_text",
          "type": "text",
          "label": "Button label",
          "default": "Checkout"
        },
        {
          "type": "select",
          "id": "button_type",
          "options": [
            {
              "value": "checkout",
              "label": "Checkout button"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ],
          "default": "custom",
          "label": "Button type"
        },
        {
          "type": "text",
          "id": "button_attributes",
          "label": "Button attributes",
          "default": "data-attribute=\"value\"",
          "info": "(when button type  is 'custom') Add attributes to the button element. For example: data-foo=\"bar\""
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "Primary (Brown)"
            },
            {
              "value": "primary inverse",
              "label": "Primary Inverse"
            },

            {
              "value": "primary black",
              "label": "Primary Black"
            },
            {
              "value": "primary wood",
              "label": "Primary wood"
            },
            {
              "value": "primary red",
              "label": "Primary (Red)"
            },
            {
              "value": "secondary",
              "label": "Secondary (outlined)"
            },
            {
              "value": "tertiary",
              "label": "Tertiary (inline)"
            }
          ],
          "default": "primary red",
          "label": "Button style"
        },
        {
          "type": "checkbox",
          "id": "button_color_inverse",
          "label": "Light colors on mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "button_icon",
          "options": [
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "arrow-right",
              "label": "Right arrow"
            },
            {
              "value": "arrow-left",
              "label": "Left arrow"
            },
            {
              "value": "plus",
              "label": "Plus sign"
            },
            {
              "value": "down",
              "label": "Down caret"
            },
            {
              "value": "up",
              "label": "Up caret"
            },
            {
              "value": "left",
              "label": "Left caret"
            },
            {
              "value": "right",
              "label": "Right caret"
            },
            {
              "value": "fit",
              "label": "Fit"
            },
            {
              "value": "chart",
              "label": "Chart"
            },
            {
              "value": "play",
              "label": "Play"
            },
            {
              "value": "none",
              "label": "None"
            }
          ],
          "default": "arrow-right",
          "label": "Button icon"
        },
        {
          "type": "select",
          "id": "button_margin_top",
          "options": [
            {
              "value": "mg-t-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-t-xl",
              "label": "X Large"
            },
            {
              "value": "mg-t-l",
              "label": "Large"
            },
            {
              "value": "mg-t-m",
              "label": "Medium"
            },
            {
              "value": "mg-t-s",
              "label": "Small"
            },
            {
              "value": "mg-t-xs",
              "label": "X Small"
            },
            {
              "value": "mg-t-none",
              "label": "No margin"
            }
          ],
          "default": "mg-t-none",
          "label": "Button margin top"
        },
        {
          "type": "select",
          "id": "button_margin_bottom",
          "options": [
            {
              "value": "mg-b-xxl",
              "label": "XX Large"
            },
            {
              "value": "mg-b-xl",
              "label": "X Large"
            },
            {
              "value": "mg-b-l",
              "label": "Large"
            },
            {
              "value": "mg-b-m",
              "label": "Medium"
            },
            {
              "value": "mg-b-s",
              "label": "Small"
            },
            {
              "value": "mg-b-xs",
              "label": "X Small"
            },
            {
              "value": "mg-b-none",
              "label": "No margin"
            }
          ],
          "default": "mg-b-m",
          "label": "Button margin bottom"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Button full width",
          "default": false
        },
        {
          "id": "disabled",
          "type": "checkbox",
          "label": "Disabled",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TC Two Image Banner",
      "settings": {},
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
