{% liquid
  assign video_url_id = section.settings.video_url.id
%}

<div class='container video-text-container'>
  <div class='content-wrapper section-spacer'>
    <div class='video-section-wrapper {% if section.settings.video_bg_color != blank %}{{ section.settings.video_bg_color }}{% endif %}'>
      <div class='video-container'>
        <div
          class='video-wrapper'
          {% if section.settings.videowise != blank %}
            style='padding-top: 0;'
          {% endif %}
        >
          {% if section.settings.videowise == blank %}
            <img
              srcset='
                {%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
                {{ section.settings.image | image_url }} {{ section.settings.image.width }}w
              '
              src='{{ section.settings.image | image_url: width: 1500 }}'
              loading='lazy'
              class='video-poster'
              alt='{{ section.settings.image.alt | escape }}'
              width='{{ section.settings.image.width }}'
              height='{{ section.settings.image.height }}'
            >
          {% endif %}
          {% if video_url_id != blank %}
            <div
              class='player-wrapper'
              data-video-url-id='{{ video_url_id }}'
              aria-hidden='true'
            ></div>

          {% elsif section.settings.videowise != blank %}
            {{ section.settings.videowise }}
          {% endif %}
        </div>
      </div>
      <div class='video-text-content'>
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <{{ section.settings.heading_level }}
                class='video__heading {% if section.settings.text_color != blank %}{{ section.settings.text_color }}{% endif %} h2 headline'
                {{ block.shopify_attributes }}
              >
                <span>{{ block.settings.heading | escape }}</span>
              </{{ section.settings.heading_level }}>
            {%- when 'text' -%}
              <div
                class='video__text {% if section.settings.text_color != blank %}{{ section.settings.text_color }}{% endif %}'
                {{ block.shopify_attributes }}
              >
                <span>{{ block.settings.text | escape }}</span>
              </div>
            {%- when 'button' -%}
              <div class='video__button' {{ block.shopify_attributes }}>
                {%- if block.settings.button_label_1 != blank -%}
                  <a
                    {% if block.settings.button_link_1 != blank %}
                      href='{{ block.settings.button_link_1 }}'
                    {% endif %}
                    class='button {% if section.settings.button_color != blank %}{{ section.settings.button_color }}{% endif %}'
                    {% if block.settings.button_link_1 == blank %}
                      aria-disabled='true'
                    {% endif %}
                    aria-label='{{ block.settings.button_link_1 | remove_first: "collections" | remove: '/' | replace: '-', " " }}'
                  >
                    <span class='visually-hidden'>
                      {{-
                        block.settings.button_link_1
                        | remove_first: 'collections'
                        | remove: '/'
                        | replace: '-', ' '
                      -}}
                    </span>
                    {{ block.settings.button_label_1 | escape }}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% if video_url_id != blank %}
  <script defer src='https://player.vimeo.com/api/player.js'></script>
{%- endif -%}

{% schema %}
{
  "name": "Video With Text",
  "tag": "section",
  "class": "section-video-with-text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Video Placeholder Image"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["vimeo"],
      "label": "Vimeo Video Link"
    },
    {
      "type": "liquid",
      "id": "videowise",
      "label": "Videowise Video Widget"
    },
    {
      "type": "select",
      "id": "video_bg_color",
      "label": "Background Color",
      "default": "yellow-bg",
      "options": [
        { "value": "yellow-bg", "label": "Yellow" },
        { "value": "light-bg", "label": "White" },
        { "value": "dark-gray-bg", "label": "Dark Gray" }
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "options": [
        {
          "value": "light-text",
          "label": "Light"
        },
        {
          "value": "dark-text",
          "label": "Dark"
        },
        {
          "value": "red-text",
          "label": "Red"
        },
        {
          "value": "yellow-text",
          "label": "Yellow"
        }
      ],
      "default": "dark-text",
      "label": "Text Color"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Button Color",
      "default": "light",
      "options": [
        { "value": "light", "label": "Light" },
        { "value": "red", "label": "Red" }
      ]
    },
    {
      "type": "select",
      "id": "heading_level",
      "options": [
        {
          "value": "h1",
          "label": "Level 1"
        },
        {
          "value": "h2",
          "label": "Level 2"
        }
      ],
      "default": "h1",
      "label": "Heading Level"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the video or content on the template.",
          "label": "Subheading"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button Text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Link URL"
        }
      ]
    },
    {
      "type": "icons",
      "name": "Icons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "icons",
          "default": "Icons",
          "label": "Icons"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video With Text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
